

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()">&times;</button>
        <h4 class="modal-title">3/4 Bag</h4>
    </div>
    <div class="modal-body">
        <p>3/4 Bag are scanned. Are you sure you want to confirm?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn-simple btn-save pull-left" ng-click="$dismiss();scanExportManifest()">Yes</button>
        <button type="button" class="btn-simple btn-cancel pull-right" ng-click="$dismiss()">No</button>
    </div>
</div>

