


<section>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss('cancel')"><i class="fa fa-times-circle-o" aria-hidden="true" style="font-size:30px;"></i></button>
            <h4 class="modal-title">Product Catalog Validation</h4>
        </div>
        <div class="modal-body">
        <div class="form-group">
            Please make sure that following information / field selected.
        </div>
            <div>
                <ul>
                    <li>If country USA, Canada then state must be selected else country should be selected.</li>
                    <li>Payment Party / Customer Name should be selected.</li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="modal-footer">
            <div class="col-sm-12 paddingboth">
                <button type="button" ng-click="$dismiss('cancel')" class="btn-simple btn-cancel fontsize12 pull-left"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
                <button type="button" class="btn-simple btn-save" ng-click="$dismiss('cancel')"><i class="fa fa-check" aria-hidden="true"></i> OK </button>
            </div>
        </div>
    </div>
</section>