<div id="wrapper">
    <header>
        <div class="container">
         
            <div class="col-xs-6 col-sm-6 col-md-6 paddingboth">
                <a style="cursor:pointer" ng-click="rootState()"><img ng-src="{{ImagePath + 'FrayteLogo1.png'}}" class="logo" /></a>
            </div>
            <div ng-include="'loginView/offline.tpl.html'" ng-if="!online"></div>
            <div class="col-xs-6 col-sm-6 col-md-6 paddingboth" style="margin-top: 15px;">
                
                <div class="text-right">{{CurrentDateTime}}</div>
                <div class="usr-setting text-right">
                    <ul class="nav navbar-nav navbar-right">
                        <li><span class="padding-lr-5 usr-img"><img ng-src="{{userInfo.PhotoUrl}}" /></span></li>
                        <li style="margin-top:6px;"><span class="welcome-msg">{{'Welcome' | translate}}</span><span ng-if="userInfo">{{userInfo.UserName}}</span></li>
                        <li class="logoutDropdown">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="" class="smallCaret dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="" ng-click="ProfileModal()"><i class="fa fa-user" aria-hidden="true"></i> &nbsp;{{'MyProfile' | translate}}</a></li>
                                        <li><a href="" ng-click="Logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> &nbsp;{{'Logout' | translate}}</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </header>
    <div class="clearfix"></div>
    <div id="content" >
        <div class="content2">
            <!--cathey pacific collapse start here-->
            <div ng-if="reslength === false" class="panel-group" id="login-collapse"> 
                <div class="panel panel-default fontsize12" style="padding:0px !important;">
                    <div class="cathey-collapse">
                        <a class="panel-title pointer show-opacity">
                            <div ng-click="val = !val" style="border-bottom: 1px solid #ddd;height:37px;">
                                <!--<span style="height:40px;position:relative;top:9px;">  <i ng-hide="val === true" class="fa fa-exclamation error-icon" aria-hidden="true"></i>{{Count}} System Alerts <span ng-hide="val === true" class="pull-right system-error-down">  {{PublicPageDate}} <i class="fa fa-chevron-down" aria-hidden="true"></i></span> <i class="fa fa-chevron-up pull-right" aria-hidden="true" style="position: relative;top: 3px;"></i></span>-->
                                <div>
                                    <span ng-hide="!Count">
                                        <span class="error-icon-yellow"><i ng-hide="val === true" class="fa fa-exclamation error-icon full-opacity" style="opacity:0.8;" aria-hidden="true"></i></span>
                                        <span class="fontsize12 middle">{{Count}} {{'System_Alert' | translate}}</span>

                                    </span>
                                    <span ng-hide="val === true" class="system-error-down fontsize12 middle" id="date-collapse">
                                        {{PublicPageDate}} <span>({{GMT}}) </span>

                                    </span>
                                    <!--<span ng-show="showval === true" ng-click="showval = !showval" ng-hide="showval === false" style="position:relative;top:9px;">
                            {{Count}} System Alerts
                        </span>-->
                                    <span>
                                        <i ng-show="val === false" class="fa fa-chevron-down pull-right full-opacity top9" aria-hidden="true" style="opacity:0.8;"></i>
                                        <i ng-show="val === true" class="fa fa-chevron-up pull-right full-opacity top9" aria-hidden="true" style="opacity:0.8;"></i>
                                    </span>

                                </div>
                            </div>
                        </a>
                        <div ng-show="val === true" ng-repeat="result in result" class="panel-heading padding3x0 cathey-collapse" style="background:transparent !important;border-bottom:1px solid #ddd;height:37px;">
                            <div style="width:100%;">
                                <div class="width70 show-opacity">
                                    <a ui-sref="public.systemAlertDetail({Heading:result.Heading})" target="_blank" class="panel-title">
                                        <span>
                                            <span class="error-icon-yellow"><i class="fa fa-exclamation error-icon full-opacity fontsize12" aria-hidden="true" style="opacity:0.8; top: 0px !important;"></i></span> <span class="fontsize12 middle-sub">{{result.Heading}}</span>
                                        </span>
                                    </a>
                                </div>
                                <div class="pull-right">
                                    <span class="middle fontsize12">
                                        {{result.Date}}<span> ({{result.TimeZoneDetail.OffsetShort}})</span>&nbsp;&nbsp;
                                        <!--<span><a href=""><i class="fa fa-chevron-down" aria-hidden="true"></i></a></span>-->
                                    </span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>
            </div>
            <!--cathey pacific collapse end here-->

            <section class="container admin">
                <div class="content-admin">
                    <!--  -->
                    <div style="padding-right:0px;">
                        <div class="col-sm-8 col-md-10 col-xs-9" style="margin-top:12px;">
                            <ul df-tab-menu menu-control="{{menu2.navigationState}}" theme="bootstrap">
                                <li data-ng-repeat="tag in tabs" data-menu-item="{{tag.route}}"
                                    ng-class="{'active': active(tag)}">
                                    <a ui-sref="{{tag.route}}" data-ng-click="go(tag.route)">
                                        <span>{{tag.tabKey | translate}}</span>
                                    </a>
                                </li>
                                <li data-more-menu-item>
                                    <a data-ng-href="">{{'More' | translate}} +</a>
                                </li>
                            </ul>
                            <!--<ul>
                            <li data-ng-repeat="tag in tabs" data-menu-item="{{tag.route}}"
                                ng-class="{'active': active(tag)}">
                                <a ui-sref="{{tag.route}}" data-ng-click="go(tag.route)">
                                    <span>{{tag.tabKey | translate}}</span>
                                </a>
                            </li>

                        </ul>-->
                        </div>
                        <div class="col-sm-4 col-md-2 col-xs-3" ng-if="quickBooingIcon.value" style="padding-right:0px !important; margin-top:-3px;">
                            <div class="quickBooking02"><a ui-sref="shipper.shipment.addressdetail({ Id: 0, UserType:5 })" class="btn btn-lg btn-default text-right">{{'QuickBooking' | translate}}</a> </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div ng-show="ShowManifestButton"><button type="button" class="btn-simple btn-success fontsize12 pull-right btn27" value="Create Manifest" ng-click="CreateManifestHome()"><i class="fa fa-list-ol" aria-hidden="true"></i> {{'Create_Manifest' | translate}}</button></div>
                    <div style="border:1px solid #DBE2EC;border-radius:3px;background:#fff;padding:15px;height:auto !important;" ui-view></div>
                    <toaster-container></toaster-container>
                </div>
            </section>
        </div>
    </div>

</div>
<!--<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="pull-right">
                    <li><a class="social-icon facebookIcon pointer" href="" title="facebook"><img ng-src="{{ImagePath + 'facebook.png'}}" alt="facebook" class="img-responsive" /></a></li>
                    <li><a class="social-icon twitterIcon pointer" href="" title="twitter"><img ng-src="{{ImagePath + 'twitter.png'}}" alt="twitter" class="img-responsive" /></a></li>
                    <li><a class="social-icon instagramIcon pointer" href="" title="instagram"><img ng-src="{{ImagePath + 'instagram.png'}}" alt="instagram" class="img-responsive" /></a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4 xs-footerCenter">
                <div class="copyText">&copy; 2017 {{'Frayte' | translate}} {{'LogisticLTD' | translate}}. {{'AllRightsReserved' | translate}}.</div>
            </div>
            <div class="col-md-5  xs-footerCenter">
                <button ng-click="changeLanguage('en')" class="btn btn-link" ng-disabled="isDisabled1" style="padding:2px 4px;"><img ng-src="{{ImagePath + 'en.png'}}" style="margin-right:5px;" />{{'BUTTON_LANG_EN' | translate}} </button>
                <button ng-click="changeLanguage('chSim')" class="btn btn-link" ng-disabled="isDisabled2" style="padding:2px 4px;"><img ng-src="{{ImagePath + 'ch.png'}}" style="margin-right:5px;" />{{'BUTTON_LANG_CH' | translate}}(Simplified) </button>
                <button ng-click="changeLanguage('chTrad')" class="btn btn-link" ng-disabled="isDisabled3" style="padding:2px 4px;"><img ng-src="{{ImagePath + 'ch.png'}}" style="margin-right:5px;" />{{'BUTTON_LANG_CH' | translate}}(Traditional) </button>
            </div>
            <div class="col-sm-3 text-right xs-footercenter" style="top: 2px;">
                <a href="">{{'Privacy_Policy' | translate}}</a> &nbsp;&nbsp;
                <a ui-sref='public.term-and-condition'>{{'confirmShp_terms2' | translate}}</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</footer>-->
<footer class="pre-footer-top-border">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="pull-right">
                    <li><a class="social-icon facebookIcon pointer" href="" title="facebook"><img ng-src="{{ImagePath + 'facebook.png'}}" alt="facebook" class="img-responsive" /><!--<i class="fa fa-facebook" aria-hidden="true"></i>--></a></li>
                    <li><a class="social-icon twitterIcon pointer" href="" title="twitter"><img ng-src="{{ImagePath + 'twitter.png'}}" alt="twitter" class="img-responsive" /><!--<i class="fa fa-twitter" aria-hidden="true"></i>--></a></li>
                    <li><a class="social-icon instagramIcon pointer" href="" title="instagram"><img ng-src="{{ImagePath + 'instagram.png'}}" alt="instagram" class="img-responsive" /><!--<i class="fa fa-instagram" aria-hidden="true"></i>--></a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-4 col-xs-12 xs-footerCenter">
                <div class="copyText">&copy; 2017 {{'Frayte' | translate}} {{'LogisticLTD' | translate}}. {{'AllRightsReserved' | translate}}.</div>
            </div>
            <div class="col-sm-5 col-xs-12  xs-footerCenter">
                <button ng-click="changeLanguage('en')" class="btn btn-link fontsize12" ng-disabled="isDisabled1" style="padding:2px 4px;"><img ng-src="{{ImagePath + 'en.png'}}" style="margin-right:5px;" />{{'BUTTON_LANG_EN' | translate}} </button>
                <button ng-click="changeLanguage('chSim')" class="btn btn-link fontsize12" ng-disabled="isDisabled2" style="padding:2px 4px;"><img ng-src="{{ImagePath + 'ch.png'}}" style="margin-right:5px;" />{{'BUTTON_LANG_CH' | translate}}(Simplified) </button>
                <button ng-click="changeLanguage('chTrad')" class="btn btn-link fontsize12" ng-disabled="isDisabled3" style="padding:2px 4px;"><img ng-src="{{ImagePath + 'ch.png'}}" style="margin-right:5px;" />{{'BUTTON_LANG_CH' | translate}}(Traditional) </button>
            </div>
            <div class="col-sm-3 col-xs-12 textAlignR xs-footercenter" style="top: 2px;">
                <a href="" class="fontsize12">{{'Privacy_Policy' | translate}}</a> &nbsp;&nbsp;
                <a ui-sref='public.term-and-condition' class="fontsize12">{{'TermsAndCondition' | translate}}</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</footer>