<!--User Modal start -->
<div class="modal-header">
    <button type="button" ng-click="$dismiss('cancel')" class="close" data-dismiss="modal"><i class="fa fa-times-circle-o" aria-hidden="true" style="font-size:30px;"></i></button>
    <h4 class="modal-title">{{'AddEdit_Zone' | translate}} </h4>
</div>
<div class="modal-body">
    <div class="col-sm-12">
        <div style="border: 1px solid #e5e5e5; padding-top:10px; padding-bottom:30px;">
            <div class="col-sm-6">
                <label><b style="font-size: 17px;">{{'BusinessUnit_Zone' | translate}}: </b>{{ZoneCountry.OperationZoneName}}</label>
            </div>
            <div class="col-sm-6"><b style="font-size: 17px;">{{'Zone_Name' | translate}}: </b>{{ZoneCountry.ZoneDisplayName}}</div>
        </div>
    </div>
    <div class="col-sm-12">
        <div style="border: 1px solid #e5e5e5; padding-top:10px; padding-bottom:30px;">
            <div class="col-sm-6">
                <label><b style="font-size: 17px;">{{'CourierCompany' | translate}}: </b>{{ZoneCourierCompany.Display}}</label>
            </div>
            <div class="col-sm-6"><b style="font-size: 17px;">{{'Rate' | translate}} {{'Type' | translate}}: </b>{{ZoneRateType.Display}}</div>
        </div>
    </div>
    <div class="clearfix"></div>
    <br />
    <div class="col-sm-12 paddingboth flex">
        <div class="col-sm-6 flex">
            <div class="panel panel-default">
                <div class="panel-heading">{{'Assign_Countries' | translate}}</div>
                <div class="panel-body padding0">
                    <div class="col-sm-12">
                        <div class="right-inner-addon padding-tb-10">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <input capitalize:first type="search" ng-change="searchData()" class="form-control" ng-model="searchValue" placeholder="{{'Search' | translate}}" />
                        </div>
                    </div>
                    <div class="col-sm-12 padding-tb-10">
                        <div class="col-sm-7 bold">{{'CountryName' | translate}}</div>
                        <div class="col-sm-3 bold paddingboth">{{'TransitTime' | translate}}</div>
                        <div class="col-sm-2 bold">{{'Delete' | translate}}</div>
                        <div class="clearfix"></div>
                    </div>
                    <div>
                        <div class="col-sm-12 overflow paddingboth" style="height:246px !important;">
                            <div ng-repeat="country in ZoneCountry.Fraytezonezountry | filter : searchValue">
                                <div class="col-sm-7 margin-left20 form-group top7">{{country.CountryName}}</div>
                                <div class="col-sm-3 paddingboth margin-left20 form-group">
                                   <div class="col-sm-7 paddingboth"><input type="number" class="form-control" id="TransitTime" name="TransitTime" ng-model="country.TransitTime" ng-change="DayChange(country);"/></div>
                                    <div class="col-sm-5 top7">{{country.Day | translate}}</div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-sm-2 text-center form-group">
                                    <a href="" ng-click="removeCountryFromZoneCountry(country)" class="top7"><i class="fa fa-bitbucket red" aria-hidden="true" style="font-size:22px;"></i></a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">{{'Add_Country' | translate}}</div>
                <div class="panel-body padding0">
                    <div class="col-sm-12">
                        <div class="right-inner-addon padding-tb-10">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <input capitalize:first type="search" ng-change="refreshData()" class="form-control" ng-model="searchText" placeholder="{{'Search' | translate}}" />
                        </div>
                    </div>
                    <div class="col-sm-12 overflow" style="height:306px !important;">
                        <div ng-repeat="country in Countries | orderBy:'CountryName'" class="checkbox">
                            <label class="margin-left20"><input type="checkbox" ng-model="as" ng-change="AddCountryToZone(country)" name="optradio">{{country.CountryName}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>
<div class="modal-footer">
    <div class="col-sm-12">
        <div class="pull-left">
            <a class="btn-simple btn-cancel ng-binding fontsize12" ng-click="$dismiss('cancel')"><i class="fa fa-times" aria-hidden="true"></i> {{'Cancel' | translate}}</a>
        </div>
        <div class="pull-right">
            <a href="" class="btn-simple btn-save fontsize12" ng-click="submit(ZoneCountry)"><i class="fa fa-floppy-o" aria-hidden="true"></i> &nbsp;{{'Save' | translate}} &nbsp;</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--user model end -->