
<section>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss('cancel')"><i class="fa fa-times-circle-o" aria-hidden="true" style="font-size:30px;"></i></button>
            <h4 class="modal-title">View Manifest - MNLHR-18090065</h4>
        </div>
        <div class="modal-body">
            <div class="border-ddd">
                <div class="col-sm-12 grid-color paddingboth manifest flex grid-background">
                    <div class="width986 flex">
                        <div class="width25 bold quotation-table-padding padding-10-5">Customer</div>
                        <div class="width10 bold quotation-table-padding padding-10-5">PO Number</div>
                        <div class="width150 bold quotation-table-padding padding-10-5">Tracking No.</div>
                        <div class="width30 bold quotation-table-padding padding-10-5">To Consignee</div>
                        <div class="width10 bold quotation-table-padding padding-10-5">Weight (kgs)</div>
                        <div class="width10 bold quotation-table-padding padding-10-5 border-right-none">Total Pieces</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="get-service-scroll fontsize14">
                    <div class="change ng-scope">
                        <ul class="list-unstyled margin-bottom-none grid-hover">

                            <li class="col-sm-12 paddingboth manifest change ng-scope">
                                <div class="action-font-family height30 flex">
                                    <div class="width25 quotation-table-padding padding-5 transparent border-right-none word-wrap"> SERIOUS STUFF LIMITED</div>
                                    <div class="width10 quotation-table-padding padding-5 transparent border-right-none word-wrap">
                                        <a ng-click="TrackingPage(shipment)" class="pointer">
                                            PO012347
                                        </a>
                                    </div>
                                    <div class="width150 quotation-table-padding padding-5 transparent border-right-none word-wrap">
                                        <a ng-click="TrackingPage(shipment)" class="pointer">
                                            5450703742
                                        </a>
                                    </div>
                                    <div class="width30 quotation-table-padding padding-5 transparent border-right-none word-wrap">Test Ben</div>
                                    <div class="width10  quotation-table-padding padding-5 transparent border-right-none word-wrap">20</div>
                                    <div class="width10  quotation-table-padding padding-5 transparent border-right-none word-wrap">2</div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li class="col-sm-12 paddingboth manifest change ng-scope">
                                <div class="action-font-family height30 flex">
                                    <div class="width25 quotation-table-padding padding-5 transparent border-right-none word-wrap"> SERIOUS STUFF LIMITED</div>
                                    <div class="width10 quotation-table-padding padding-5 transparent border-right-none word-wrap">
                                        <a ng-click="TrackingPage(shipment)" class="pointer">
                                            PO012348
                                        </a>
                                    </div>
                                    <div class="width150 quotation-table-padding padding-5 transparent border-right-none word-wrap">
                                        <a ng-click="TrackingPage(shipment)" class="pointer">
                                            5450703742
                                        </a>
                                    </div>
                                    <div class="width30 quotation-table-padding padding-5 transparent border-right-none word-wrap">Test Ben</div>
                                    <div class="width10  quotation-table-padding padding-5 transparent border-right-none word-wrap">24</div>
                                    <div class="width10  quotation-table-padding padding-5 transparent border-right-none word-wrap">2</div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="modal-footer">
            <div class="col-sm-12 paddingboth">
                <button type="button" ng-click="$dismiss('cancel')" class="btn-simple btn-cancel fontsize12 pull-left"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
                <button type="button" class="btn-simple btn-success" ng-click="$dismiss('cancel')"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download PDF </button>
            </div>
        </div>
    </div>
</section>