<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="XmlFileFolderPath" value="D:\App" />
    <add key="MoveXmlFileFolderPath" value="D:\Archive" />
    <add key="MailHostName" value="smtp.gmail.com" />
    <add key="SMTPport" value="587" />
    <add key="SMTPUserName" value="smtp.test7813@gmail.com" />
    <add key="SMTPPassword" value="smtpTest" />
    <add key="FromMail" value="smtp.test7813@gmail.com" />
    <add key="EnableSsl" value="Y" />
    <add key="BCC" value="pushkarthapliyal@gmail.com" />
    <add key="OwnerMail" value="pushkarthapliyal@gmail.com" />
    <add key="DevelopmentMail" value="chetram@irasyssolutions.com" />
  </appSettings>
  <connectionStrings>
    <!--<add name="FrayteEntities" connectionString="metadata=res://*/DataAccess.FrayteDB.csdl|res://*/DataAccess.FrayteDB.ssdl|res://*/DataAccess.FrayteDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN-PC\SQLEXPRESS2012;initial catalog=FrayteLogistic;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="FrayteEntities" connectionString="metadata=res://*/DataAccess.FrayteDB.csdl|res://*/DataAccess.FrayteDB.ssdl|res://*/DataAccess.FrayteDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN-PC\SQLEXPRESS2012;initial catalog=FrayteLogistic;user id=sa;password=1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="FrayteEntities" connectionString="metadata=res://*/DataAccess.FrayteDB.csdl|res://*/DataAccess.FrayteDB.ssdl|res://*/DataAccess.FrayteDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEV1\SQLEXPRESS12;initial catalog=FrayteLogistic;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PayPalCoreSDK" publicKeyToken="5b4afc1ccaef40fb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.1.0" newVersion="1.7.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>