<section>
    <div ng-class="{ 'has-error': (DirectBookingForm.Deliverytime.$invalid || DirectBookingForm.DeliveryTimeMinutes.$invalid) &&
                                                     (DirectBookingForm.Deliverytime.$dirty || DirectBookingForm.DeliveryTimeMinutes.$dirty || submitted) }">
        <select class="form-control fontsize12 direct-booking-collection-time-width60" name="Deliverytime"
                ng-model="timeHrs" ng-change="setCollectionHours()"
                ng-options="hr as hr.hour  for hr in hours track by hr.Id" required>
            <option value="" selected disabled class="display-none">HH</option>
        </select>

        <select class="form-control fontsize12 direct-booking-collection-time-width60 margin-left7" name="DeliveryTimeMinutes"
                ng-model="timeMins" ng-change="setCollectionMinutes()"
                ng-options="mn as mn.minute  for mn in minutes track by mn.Id" required>
            <option value="" selected disabled class="display-none">MM</option>
        </select>
    </div>

</section>
