<section class="container">    
    <div class="col-sm-12">
        <div class="content padding-15" style="margin-bottom:0% !important;">
            <br />
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label>{{'Shipping' | translate}} {{'Ref' | translate}}:</label>
                            <input type="text" ng-model="PurchaseOrderNo" class="form-control" readonly />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label>{{'SO' | translate}}:</label>
                            <input type="text" ng-model="FrayteCargoWiseSo" class="form-control" readonly />
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <br>
        </div>
    </div>
</section>
<section class="container">
    <div class="col-sm-12">
        <div class="content padding-15">
            <div class="text-center padding-tb-15"><h4>{{'Shipment' | translate}} {{'Confirmed' | translate}}</h4></div>
            <div class="text-center padding-tb-15">
                <p>{{'CustomerConfirmShipThankyou' | translate}}. </p>
                <p>{{'CustomerConfirmShipThankyouTxt' | translate}}.</p>
            </div>
            <div class="clearfix"></div>
            <br>
        </div>
    </div>
</section>
