
<section>

                <div class="modal-header">
                    <button type="button" class="close" ng-click="$dismiss()"><i class="fa fa-times-circle-o" aria-hidden="true" style="font-size:30px;"></i></button>
                    <h4 class="modal-title">Allocate HAWB Confirmation</h4>
                </div>
                <div class="modal-body text-center clearfix">
                    <p>Are you sure you want to continue allocate HAWB?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-simple btn-save pull-left"  ng-click="continueHAWB('Yes')"><i class="fa fa-check"></i> {{'Yes' | translate}}</button>
                    <button type="button" class="btn-simple btn-cancel pull-right" ng-click="closeHAWB('No')"><i class="fa fa-times"></i> {{'No' | translate}}</button>
                </div>
</section>