<!-- Modal content-->

<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss('cancel')"><i class="fa fa-times-circle-o" aria-hidden="true" style="font-size:30px;"></i></button>
    <h4 class="modal-title">{{'Edit' | translate}} {{'Zone' | translate}} {{'PostalCode' | translate}}</h4>
</div>
<div class="modal-body">
    <div class="col-sm-12">
        <div class="col-sm-12 form-group paddingboth">
            <div class="col-sm-6 paddingboth fontsize14"><span class="bold">{{'Zone' | translate}}:</span> <span>{{ZonePostCode.ZoneDisplayName}}</span></div>
            <div class="col-sm-6 paddingright fontsize14"><span class="bold">{{'CourierCompany' | translate}}:</span> <span>{{ZonePostCodeCourierCompany.Display}}</span></div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-6 paddingleft">
            <!--<fieldset>-->
            <!--<legend>{{'Assign' | translate}} {{'PostalCode' | translate}}</legend>-->
            <div class="panel panel-default">
                <div class="panel-heading">{{'Assign' | translate}} {{'PostalCode' | translate}}</div>
                <div class="panel-body padding0">
                    <div class="col-sm-12 paddingboth" style="border-bottom:1px solid #ddd;">
                        <div class="col-sm-6 paddingright padding-10">
                            <span class="col-sm-6 paddingboth"><small class="paddingleft5">{{'PostalCode' | translate}}</small></span>
                            <span class="col-sm-6 paddingboth"><small class="pull-right" style="padding: 4px 6px 0px;">{{'Delete' | translate}}</small></span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-sm-6 paddingright padding-10">
                            <span class="col-sm-6 paddingboth"><small class="paddingleft5">{{'PostalCode' | translate}}</small></span>
                            <span class="col-sm-6 paddingboth"><small class="pull-right" style="padding: 4px 6px 0px;">{{'Delete' | translate}}</small></span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 paddingboth">
                        <div class="overflow" style="height:255px !important;">
                            <div style="margin-top:2px;">
                                <!--<div ng-repeat="ZonePost in ZonePostCode.Row.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))" class="col-sm-6 paddingboth center">-->
                                <div ng-repeat="ZonePost in ZonePostCode.Row" class="col-sm-6 paddingright center">
                                    <div class="paddingTB3">
                                        <div class="col-sm-10 paddingboth text-left">{{ZonePost.PostCode}}</div>
                                        <div ng-click="RemovePostCodeFromZone(ZonePost)" class="col-sm-2 paddingboth pointer" style="position:relative;right:10px;"><a><i class="fa fa-bitbucket red" aria-hidden="true"></i></a></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <!--<pagination ng-model="ZonePostCode.currentPage" ng-change="pageChanged(ZonePostCode)" total-items="ZonePostCode.totalItemCount" max-size="ZonePostCode.maxSize" items-per-page="ZonePostCode.itemsPerPage" class="pagination-sm zonepostcode" boundary-links="false" rotate="false" num-pages="numPages"></pagination>-->
                        <!--<ul uib-pagination total-items="ZonePostCode.totalItemCount" ng-change="pageChanged(ZonePostCode)" ng-model="ZonePostCode.currentPage" items-per-page="ZonePostCode.itemsPerPage" max-size="ZonePostCode.maxSize" class="pagination-sm" num-pages="numPages" boundary-link-numbers="true"></ul>-->
                        <ul uib-pagination boundary-links="true" total-items="ZonePostCode.totalItemCount" ng-change="pageChanged(ZonePostCode)" ng-model="ZonePostCode.currentPage" items-per-page="ZonePostCode.itemsPerPage" max-size="ZonePostCode.maxSize" num-pages="numPages" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>

                    </div>
                </div>
            </div>
            <!--</fieldset>-->
        </div>
        <div class="col-sm-6 paddingright">
            <!--<fieldset>-->
            <!--<legend>{{'Add' | translate}} {{'New' | translate}} {{'PostalCode' | translate}}</legend>-->
            <div class="panel  panel-default">
                <div class="panel-heading">{{'Add' | translate}} {{'New' | translate}} {{'PostalCode' | translate}}</div>
                <div class="panel-body padding0">
                    <div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-sm-12 paddingTB5">
                        <i class="fa fa-search" aria-hidden="true" style="position: absolute; padding:10px 8px;"></i>
                        <input type="text" class="form-control" placeholder="{{'Search' | translate}} {{'PostalCode' | translate}}" ng-model="searchText" ng-change="refreshData()" style="padding-left:25px" />
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-sm-12 paddingboth">
                        <div>
                            <div class="overflow" style="height:252px !important;">
                                <div class="col-sm-12" style="margin-top:3px;">
                                    <div class="col-sm-6" ng-repeat="UkPost in UKPostCodeJson.slice(((currentPage1-1)*itemsPerPage1), ((currentPage1)*itemsPerPage1))">
                                        <div class="col-sm-2"><input ng-change="SetPostCodeToZone(UkPost)" ng-model="IsSelected" type="checkbox" class="pointer" /></div>
                                        <div class="col-sm-10">{{UkPost.PostCode}}</div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <!--<pagination total-items="UKPostCodeJson.length" ng-model="currentPage1" max-size="maxSize1" class="pagination-sm" boundary-links="false" rotate="false" num-pages="numPages1" items-per-page="itemsPerPage1" style="padding:0px 18px 0px !important;"></pagination>-->
                            <!--<ul uib-pagination total-items="UKPostCodeJson.length"  ng-model="currentPage1" items-per-page="itemsPerPage1" max-size="maxSize1" class="pagination-sm" num-pages="numPages" boundary-link-numbers="true"></ul>-->
                            <ul uib-pagination boundary-links="true" total-items="UKPostCodeJson.length" ng-model="currentPage1" items-per-page="itemsPerPage1" max-size="maxSize1" num-pages="numPages" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>

                        </div>
                    </div>
                </div>
            </div>
            <!--</fieldset>-->
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="modal-footer">
    <div class="col-sm-12">
        <div class="pull-left">
            <button class="btn btn-cancel fontsize12" ng-click="$dismiss('cancel')"><i class="fa fa-times" aria-hidden="true"></i> {{'Cancel' | translate}}</button>
        </div>
        <div class="pull-right">
            <button ng-click="submit()" class="btn-simple btn-save fontsize12"><i class="fa fa-floppy-o" aria-hidden="true"></i> &nbsp;{{'Save' | translate}} &nbsp;</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

