<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>-->
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!--For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468-->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="FrayteEntities" connectionString="metadata=res://*/DataAccess.FrayteDB.csdl|res://*/DataAccess.FrayteDB.ssdl|res://*/DataAccess.FrayteDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER;initial catalog=FrayteLogisticDirectLiveIdentity;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="FrayteEntities" connectionString="metadata=res://*/DataAccess.FrayteDB.csdl|res://*/DataAccess.FrayteDB.ssdl|res://*/DataAccess.FrayteDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=119.9.110.197;initial catalog=FrayteLogisticDirecteCommerceApp2;user id=sa;password=FrayteDB#15;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>

  <appSettings>
    <add key="OwnerMail" value="anil.kumar@irasyssolutions.com" />
    <add key="DevelopmentMail" value="chetram@irasyssolutions.com" />

    <add key="HostName" value="http://localhost:2705/build" />
    <add key="WebApiPath" value="http://localhost:24047/" />

    <add key="RateCardTime" value="10:00:00" />
    <add key="CurrencyTime" value="09:00:00" />
    <add key="FuelSurChargeDay" value="Monday" />
    <add key="FuelSurChargeTime" value="20:00:00" />

    <add key="MailHostName" value="smtp.gmail.com" />
    <add key="SMTPport" value="587" />
    <add key="SMTPUserName" value="smtp.test7813@gmail.com" />
    <add key="SMTPPassword" value="smtpTest" />
    <add key="SMTPDisplayName" value="Frayte - System (UK)" />
    <add key="FromMail" value="smtp.test7813@gmail.com" />
    <add key="EnableSsl" value="Y" />

    <!--<add key="HKHostName" value="smtp.gmail.com" />
    <add key="HKport" value="587" />
    <add key="HKUserName" value="smtptest08112016@gmail.com" />
    <add key="HKPassword" value="test1234#" />
    <add key="HKDisplayName" value="Frayte - System (HK)" />
    <add key="HKFromMail" value="smtptest08112016@gmail.com" />
    <add key="HKEnableSsl" value="Y" />

    <add key="UKHostName" value="smtp.gmail.com" />
    <add key="UKport" value="587" />
    <add key="UKUserName" value="smtptest08112016@gmail.com" />
    <add key="UKPassword" value="test1234#" />
    <add key="UKDisplayName" value="Frayte - System (UK)" />
    <add key="UKFromMail" value="smtptest08112016@gmail.com" />
    <add key="UKEnableSsl" value="Y" />-->

    <add key="BCC" value="" />
    <add key="TOCC" value="" />
    
    <add key="HKEmail" value="yeem@frayte.com;system@vytalsupport.com" />
    <add key="UKEmail" value="nathan@frayte.co.uk;andy@frayte.co.uk;yeem@frayte.com;system@vytalsupport.com" />
    
    <add key="EmailServicePath" value="E:\IRA\FrayteLogistic - Default\FrayteEmailService" />
    <add key="ErrorLoger" value="E:\IRA\" />
    <add key="ReportFolder" value="Sch#E:\IRA\FrayteLogistic - Default\Fraye.Schedular\" />
    <add key="RemainderSetting" value="Hour" />
    <add key="ControllerDeptEmail" value="Vikshit9292@gmail.com" />
    <add key="ControllerDeptName" value="Vikshit" />
    <add key="EmailSendTime" value= "08:00" />
    <add key="ControlDeptFolderPath" value="D:\ProjectFrayte\Frayte\Frayte.WebApi\UploadFiles\ControlDept\ControlDeptExcel.xlsx" />
    <add key="OpearationZone" value="2#GBR" />

    <add key="WebApiURL" value="http://localhost:24047/api/ReportSetting/" />
    <add key="WebApiRateCardURL" value="http://localhost:24047/api/Customer/" />
    <add key="ManifestFolderPath" value="D:\ProjectFrayte\Frayte\Frayte.WebApi\Manifestedshipments\ManifestedTest\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>