
<section>
    <div id="UploadShipment">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$dismiss('cancel')"><i class="fa fa-times-circle-o" aria-hidden="true" style="font-size:30px;"></i></button>
                <h4 class="modal-title">{{'Upload_Shipment_Errors' | translate}}</h4>
            </div>
          
            <div class="modal-body padding0 padding-bottom-none">
                <div class="col-sm-12 padding-center" ng-repeat="error in ErrorList">
                    <!--<div ng-repeat="error1 in error.Errors">
                        <div class="alert alert-danger">
                            <strong>{{$index + 1}}.</strong> {{error1}}.
                        </div>
 
                    </div>-->
                    <!--<form name="DirectBooking" ng-submit="Shipment1(DirectBooking, ErrorList)">
                        <div ng-repeat="er in error.RemainedFields" class="col-sm-12 form-group paddingboth " ng-class="{'has-error' : DirectBooking.{{er.InputTypeName}}.$invalid && (DirectBooking.{{er.InputTypeName}}.$dirty
                         || submitted) }">
                            <div ng-if="er.FileType === 'text' || er.FileType === 'email'">
                                <div ng-if="(er.FileType === 'text' || er.FileType === 'email') && er.ShowDiv === 'MainObjProperty'">
                                    <label name="{{er.LabelName}}" id="{{er.LabelName}}" class="col-sm-4 lineheight24 control-label paddingleft paddingright">{{er.FieldLabel}} <span class="redColor">*</span></label>
                                    <input type="{{er.FileType}}" name="{{er.InputTypeName}}" id="{{er.InputTypeName}}" class="form-control fontsize12" ng-model="Shipment[0][er.FieldName]" required />
                                    <span class="help-block has-error"
                                          ng-show="DirectBooking.{{er.InputTypeName}}.$invalid &&
                                            (DirectBooking.{{er.InputTypeName}}.$dirty || submitted)">
                                        {{er.RequiredMessage}}
                                    </span>
                                    {{Shipment[0][er.FieldName]}}
                                </div>
                                <div ng-if="(er.FileType === 'text' || er.FileType === 'email') && er.ShowDiv === 'FromShipper'">
                                    <label name="{{er.LabelName}}" id="{{er.LabelName}}" class="col-sm-4 lineheight24 control-label paddingleft paddingright">{{er.FieldLabel}} <span class="redColor">*</span></label>
                                    <input type="{{er.FileType}}" name="{{er.InputTypeName}}" id="{{er.InputTypeName}}" class="form-control fontsize12" ng-model="Shipment[0].ShipFrom[er.FieldName]" required />
                                    <span class="help-block has-error"
                                          ng-show="DirectBooking.{{er.InputTypeName}}.$invalid &&
                                            (DirectBooking.{{er.InputTypeName}}.$dirty || submitted)">
                                        {{er.RequiredMessage}}
                                    </span>
                                    {{Shipment[0].ShipFrom[er.FieldName]}}
                                </div>
                                <div ng-if="(er.FileType === 'text' || er.FileType === 'email') && er.ShowDiv === 'ToShipper'">
                                    <label name="{{er.LabelName}}" id="{{er.LabelName}}" class="col-sm-4 lineheight24 control-label paddingleft paddingright">{{er.FieldLabel}} <span class="redColor">*</span></label>
                                    <input type="{{er.FileType}}" name="{{er.InputTypeName}}" id="{{er.InputTypeName}}" class="form-control fontsize12" ng-model="Shipment[0].ShipTo[er.FieldName]" required />
                                    <span class="help-block has-error"
                                          ng-show="DirectBooking.{{er.InputTypeName}}.$invalid &&
                                            (DirectBooking.{{er.InputTypeName}}.$dirty || submitted)">
                                        {{er.RequiredMessage}}
                                    </span>
                                    {{Shipment[0].ShipTo[er.FieldName]}}
                                </div>
                            </div>
                            <div ng-if="er.FileType === 'DropDown'">
                                <div ng-if="er.FileType === 'DropDown' && er.ShowDiv === 'MainObjProperty'">
                                    <div class="col-sm-4 paddingboth">
                                        <label name="{{er.LabelName}}" id="{{er.LabelName}}" class="control-label lineheight24">{{er.FieldLabel}} <span class="redColor">*</span></label>
                                    </div>
                                    <div class="col-sm-7 paddingright">
                                        <select name="{{er.InputTypeName}}" id="{{er.InputTypeName}}"
                                                ng-model="Shipment[0][er.FieldName]" ng-change="setPackageParcelType(directBooking.ParcelType)"
                                                ng-options="{{er.IterationForAs}} as {{er.IterationFor1}} {{er.DashString}} {{er.IterationFor2}} for ParcelType in {{er.GeneralObj}} track by {{er.TrackBYOBJ}}"
                                                class="form-control fontsize12" required>
                                            <option value="" disabled selected class="display-none"></option>
                                        </select>

                                        <span class="help-block has-error"
                                              ng-show="DirectBooking.{{er.InputTypeName}}.$invalid &&
                                            (DirectBooking.{{er.InputTypeName}}.$dirty || submitted)">
                                            {{er.RequiredMessage}}
                                        </span>
                                        {{Shipment[0][er.FieldName]}}
                                    </div>
                                </div>
                                <div ng-if="er.FileType === 'DropDown' && er.ShowDiv === 'FromShipper'">
                                    <div class="col-sm-4 paddingboth">
                                        <label name="{{er.LabelName}}" id="{{er.LabelName}}" class="control-label lineheight24">{{er.FieldLabel}} <span class="redColor">*</span></label>
                                    </div>
                                    <div class="col-sm-7 paddingright">
                                        <select name="{{er.InputTypeName}}" id="{{er.InputTypeName}}"
                                                ng-model="Shipment[0].ShipFrom[er.FieldName]" ng-change="setPackageParcelType(directBooking.ParcelType)"
                                                ng-options="{{er.IterationForAs}} as {{er.IterationFor1}} {{er.DashString}} {{er.IterationFor2}} for ParcelType in {{er.GeneralObj}} track by {{er.TrackBYOBJ}}"
                                                class="form-control fontsize12" required>
                                            <option value="" disabled selected class="display-none"></option>
                                        </select>

                                        <span class="help-block has-error"
                                              ng-show="DirectBooking.{{er.InputTypeName}}.$invalid &&
                                            (DirectBooking.{{er.InputTypeName}}.$dirty || submitted)">
                                            {{er.RequiredMessage}}
                                        </span>
                                        {{Shipment[0].ShipFrom[er.FieldName]}}
                                    </div>
                                </div>
                                <div ng-if="er.FileType === 'DropDown' && er.ShowDiv === 'ToShipper'">
                                    <div class="col-sm-4 paddingboth">
                                        <label name="{{er.LabelName}}" id="{{er.LabelName}}" class="control-label lineheight24">{{er.FieldLabel}} <span class="redColor">*</span></label>
                                    </div>
                                    <div class="col-sm-7 paddingright">
                                        <select name="{{er.InputTypeName}}" id="{{er.InputTypeName}}"
                                                ng-model="Shipment[0].ShipTo[er.FieldName]"
                                                ng-options="{{er.IterationForAs}} as {{er.IterationFor1}} {{er.DashString}} {{er.IterationFor2}} for ParcelType in {{er.GeneralObj}} track by {{er.TrackBYOBJ}}"
                                                class="form-control fontsize12" ng-required="er.FieldName == 'Country'">
                                            <option value="" disabled selected class="display-none"></option>
                                        </select>
                                        <span class="help-block has-error"
                                              ng-show="DirectBooking.{{er.InputTypeName}}.$invalid &&
                                            (DirectBooking.{{er.InputTypeName}}.$dirty || submitted)">
                                            {{er.RequiredMessage}}
                                        </span>
                                        {{Shipment[0].ShipTo[er.FieldName]}}
                                    </div>
                                </div>
                            </div>

                            <div ng-if="er.FileType === 'radio'">
                                <label name="{{er.LabelName}}" id="{{er.LabelName}}" class="col-sm-4 lineheight24 control-label paddingleft paddingright">{{er.FieldLabel}} <span class="redColor">*</span></label>

                                <div ng-repeat="em in er.RadioButtonValues" class="horizontally-center">
                                    {{em}}: <input type="{{er.FileType}}" name="{{er.InputTypeName}}" id="{{er.InputTypeName}}" class="form-control fontsize12" value="{{em}}" ng-model="Shipment[0][er.FieldName]" required />
                                </div>

                            </div>
                        </div>
                        <button type="submit" class="btn-simple btn-save pull-left" ng-click="submitted=true"><i class="fa fa-check" aria-hidden="true"></i> {{'Shipment' | translate}}</button>
                    </form>-->
                    <form ng-show="!ErrorFormShow" name="DirectBooking" ng-submit="Shipment1(DirectBooking, ErrorList)">
                        <!--<div ng-repeat="er in error.RemainedFields" class="col-sm-12 form-group paddingboth " ng-class="{'has-error' : DirectBooking.{{er.InputTypeName}}.$invalid && (DirectBooking.{{er.InputTypeName}}.$dirty
        || submitted) }">-->
                        {{error.RemainedFields}}
                        <div ng-repeat="er in error.RemainedFields" class="col-sm-both form-group paddingboth " ng-class="{'has-error' : DirectBooking.{{er.InputTypeName}}.$invalid && (DirectBooking.{{er.InputTypeName}}.$dirty || submitted) }">
                            {{er.FileName}}
                            <div>
                                
                                <div ng-if="er.FileType === 'text' || er.FileType === 'email'" class="col-sm-12 paddingboth">
                                    <div ng-if="(er.FileType === 'text' || er.FileType === 'email') && er.ShowDiv === 'MainObjProperty'">
                                        <label name="{{er.LabelName}}" id="{{er.LabelName}}" class="col-sm-4 lineheight24 control-label paddingleft paddingright">{{er.FieldLabel}} <span class="redColor">*</span></label>
                                        <div class="col-sm-8 paddingright">
                                            <input type="{{er.FileType}}" name="{{er.InputTypeName}}" id="{{er.InputTypeName}}" class="form-control fontsize12" ng-model="Shipment[0][er.FieldName]" required />
                                            <span class="help-block has-error"
                                                  ng-show="DirectBooking.{{er.InputTypeName}}.$invalid &&
                                (DirectBooking.{{er.InputTypeName}}.$dirty || submitted)">
                                                {{er.RequiredMessage | translate}}
                                            </span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div ng-if="(er.FileType === 'text' || er.FileType === 'email') && er.ShowDiv === 'FromShipper'">
                                        <label name="{{er.LabelName}}" id="{{er.LabelName}}" class="col-sm-4 lineheight24 control-label paddingleft paddingright">{{er.FieldLabel}} <span class="redColor">*</span></label>
                                        <div class="col-sm-8 paddingright">
                                            <input type="{{er.FileType}}" name="{{er.InputTypeName}}" id="{{er.InputTypeName}}" class="form-control fontsize12" ng-model="Shipment[0].ShipFrom[er.FieldName]" required />
                                            <span class="help-block has-error"
                                                  ng-show="DirectBooking.{{er.InputTypeName}}.$invalid &&
                                (DirectBooking.{{er.InputTypeName}}.$dirty || submitted)">
                                                {{er.RequiredMessage | translate}}
                                            </span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div ng-if="(er.FileType === 'text' || er.FileType === 'email') && er.ShowDiv === 'ToShipper'">
                                        <label name="{{er.LabelName}}" id="{{er.LabelName}}" class="col-sm-4 lineheight24 control-label paddingleft paddingright">{{er.FieldLabel}} <span class="redColor">*</span></label>
                                        <div class="col-sm-8 paddingright">
                                            <input type="{{er.FileType}}" name="{{er.InputTypeName}}" id="{{er.InputTypeName}}" class="form-control fontsize12" ng-model="Shipment[0].ShipTo[er.FieldName]" required />
                                            <span class="help-block has-error"
                                                  ng-show="DirectBooking.{{er.InputTypeName}}.$invalid &&
                                (DirectBooking.{{er.InputTypeName}}.$dirty || submitted)">
                                                {{er.RequiredMessage | translate}}
                                            </span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div ng-if="er.FileType === 'DropDown'" class="col-sm-12 paddingboth">
                                    <div ng-if="er.FileType === 'DropDown' && er.ShowDiv === 'MainObjProperty'">
                                        <div class="col-sm-4 paddingboth">
                                            <label name="{{er.LabelName}}" id="{{er.LabelName}}" class="control-label lineheight24">{{er.FieldLabel}} <span class="redColor">*</span></label>
                                        </div>
                                        <div class="col-sm-8 paddingright">
                                            <select name="{{er.InputTypeName}}" id="{{er.InputTypeName}}"
                                                    ng-model="Shipment[0][er.FieldName]" ng-change="setPackageParcelType(directBooking.ParcelType)"
                                                    ng-options="{{er.IterationForAs}} as {{er.IterationFor1}} {{er.DashString}} {{er.IterationFor2}} for ParcelType in {{er.GeneralObj}} track by {{er.TrackBYOBJ}}"
                                                    class="form-control fontsize12" required>
                                                <option value="" disabled selected class="display-none"></option>
                                            </select>

                                            <span class="help-block has-error"
                                                  ng-show="DirectBooking.{{er.InputTypeName}}.$invalid &&
                                (DirectBooking.{{er.InputTypeName}}.$dirty || submitted)">
                                                {{er.RequiredMessage | translate}}
                                            </span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div ng-if="er.FileType === 'DropDown' && er.ShowDiv === 'FromShipper'" ng-class="{'has-error' : DirectBooking.{{er.InputTypeName}}.$invalid && (DirectBooking.{{er.InputTypeName}}.$dirty
             || submitted) }">
                                        <div class="col-sm-4 paddingboth">
                                            <label name="{{er.LabelName}}" id="{{er.LabelName}}" class="control-label lineheight24">{{er.FieldLabel}} <span class="redColor">*</span></label>
                                        </div>
                                        <div class="col-sm-8 paddingright">
                                            <select name="{{er.InputTypeName}}" id="{{er.InputTypeName}}"
                                                    ng-model="Shipment[0].ShipFrom[er.FieldName]" ng-change="setPackageParcelType(directBooking.ParcelType)"
                                                    ng-options="{{er.IterationForAs}} as {{er.IterationFor1}} {{er.DashString}} {{er.IterationFor2}} for ParcelType in {{er.GeneralObj}} track by {{er.TrackBYOBJ}}"
                                                    class="form-control fontsize12" required>
                                                <option value="" disabled selected class="display-none"></option>
                                            </select>

                                            <span class="help-block has-error"
                                                  ng-show="DirectBooking.{{er.InputTypeName}}.$invalid &&
                                (DirectBooking.{{er.InputTypeName}}.$dirty || submitted)">
                                                {{er.RequiredMessage | translate}}
                                            </span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div ng-if="er.FileType === 'DropDown' && er.ShowDiv === 'ToShipper'">
                                        <div class="col-sm-4 paddingboth">
                                            <label name="{{er.LabelName}}" id="{{er.LabelName}}" class="control-label lineheight24">{{er.FieldLabel}} <span class="redColor">*</span></label>
                                        </div>
                                        <div class="col-sm-8 paddingright">
                                            <select name="{{er.InputTypeName}}" id="{{er.InputTypeName}}"
                                                    ng-model="Shipment[0].ShipTo[er.FieldName]"
                                                    ng-options="{{er.IterationForAs}} as {{er.IterationFor1}} {{er.DashString}} {{er.IterationFor2}} for ParcelType in {{er.GeneralObj}} track by {{er.TrackBYOBJ}}"
                                                    class="form-control fontsize12" ng-required="er.FieldName == 'Country'">
                                                <option value="" disabled selected class="display-none"></option>
                                            </select>
                                            <span class="help-block has-error"
                                                  ng-show="DirectBooking.{{er.InputTypeName}}.$invalid &&
                                (DirectBooking.{{er.InputTypeName}}.$dirty || submitted)">
                                                {{er.RequiredMessage | translate}}
                                            </span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div ng-if="er.FileType === 'radio'" class="col-sm-12 paddingboth form-group">
                                    <label name="{{er.LabelName}}" id="{{er.LabelName}}" class="col-sm-4 lineheight24 control-label paddingleft paddingright">{{er.FieldLabel}} <span class="redColor">*</span></label>
                                    <div class="col-sm-8">
                                        <div ng-repeat="em in er.RadioButtonValues" class="col-sm-6 paddingboth top7 form-group">
                                            <input type="{{er.FileType}}" name="{{er.InputTypeName}}" id="{{er.InputTypeName}}" class="fontsize12" value="{{em}}" ng-model="Shipment[0][er.FieldName]" required /> {{em}}
                                        </div>
                                        <span class="help-block has-error"
                                              ng-show="DirectBooking.{{er.InputTypeName}}.$invalid &&
                                (DirectBooking.{{er.InputTypeName}}.$dirty || submitted)">
                                            {{er.RequiredMessage | translate}}
                                        </span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                               
                            </div>
                        </div>
                        <button type="submit" class="btn-simple btn-save pull-right" ng-click="submitted=true"><i class="fa fa-check" aria-hidden="true"></i> {{'Shipment' | translate}}</button>
                    </form>
                    <div ng-show="ErrorFormShow">
                        <h4 class="redColor">{{'Upload_Shipment_Missing_Information' | translate}} <span ng-click="SaveUploadShipmentWithService(ShipmentData)"><a class="pointer">{{'Click_Here' | translate}}</a></span> {{'To_Go_From' | translate}}</h4>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">
                <div class="col-sm-12">
                    <!--<div class="red pull-left">{{'Upload_Shipment_Note' | translate}}</div>-->
                    <button type="button" class="btn-simple btn-save pull-left" ng-click="SaveUploadShipmentWithService(ShipmentData)"><i class="fa fa-check" aria-hidden="true"></i> {{'Make_Correction' | translate}}</button>

                    <button type="button" class="btn-simple btn-save" ng-click="$dismiss('cancel')"><i class="fa fa-check" aria-hidden="true"></i> {{'OK' | translate}}</button>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>