<!DOCTYPE html>
<html>
<head>
    <title></title>  
</head>
<body style="margin: 0; padding: 0; background: #fff; border: 1px solid #ddd; font-family: calibri, sans-serif;">
    <header>
        <div style="height: 70px; background: #fff !important; box-shadow: 0px 1px 4px -2px; padding: 0 19px; text-align: left;">
            <img src="cid:@Model.ImageHeader" style="width: 150px; padding: 12px 0px;" />
        </div>
    </header>
    <div style="background: #fff; margin: 30px 20px; padding: 0 20px; font-size: 14px;">
        <div>
            <h2>Welcome to Frayte Management System for managing the shimpment details</h2>
        </div>
        <div style="margin: 30px 0;">
            <p>Frayte Manage System created new login cridentials for you.</p>
            <p>Please use them to manage shipment related detail and other details in Frayte Management System.</p>
            <b>User Name: </b> @Model.UserName <br />
            <b>Password: </b>  @Model.Password
        </div>
    </div>
    <footer>
        <div style="height: 50px; font-size: 12px; text-align: left; padding: 25px 30px;">
            <p>FRAYTE GLOBAL All rights reserved.</p>
        </div>
    </footer>
</body>
</html>