<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Interim Receipts</title>

    <!--<link href="Stylesheet/sheet.css" rel="stylesheet" />-->

    <link href="E:\IRA\FrayteLogistic\frayte\Frayte\Frayte.WebApi\Content\confirm.css" rel="stylesheet" />
    <link href="E:\IRA\FrayteLogistic\frayte\Frayte\Frayte.WebApi\Content\bootstrap.min.css" rel="stylesheet" />
    <!-- <script src="E:\IRA\FrayteLogistic\frayte\Frayte\Frayte.WebApi\Content\bootstrap.min.js"></script> -->
    <style>
        .center {
            /*width: 130px;*/
            text-align: left;
            padding: 0px;
        }
    </style>
</head>
<body>
    <header>
          <!--<img src="@Model.pdfLogo" style="width:100%;" />-->
    </header>
    <div class="container">
    <!--<div class="wrapper" style="margin-top:30px;">-->
        <div>
            <div class="subHeadLeft" style="text-align:center;">Report: POD Report for FRAYTE LOGISTICS LTD</div>
            <div class="clearfix"></div>
        </div>

        <div style="margin-top:10px;">
            <div style="width:100%; margin:0 auto; border:1px solid #ddd;">
                <table width="100%">
                    <tr style="border:1px solid #ddd; background: #0B3D5A; color:#fff; padding:10px; ">
                        <th class="center" style="width:30%;">Destination</th>
                        <th class="center" style="width:10%;">Country</th>
                        <th class="center" style="width:10%; padding-right:2px;">Booked By</th>
                        <th class="center" style="width:17%;">Consignee</th>
                        <th class="center" style="width:12%;">Delivery Date</th>
                        <th class="center" style="width:12%;">POD Signature</th>
                    </tr>
                    <tr>
                        <td class="center" style="width:30%;">UNIT 502,5/F,</td>
                        <td class="center" style="width:10%;">Bangladesh</td>
                        <td class="center" style="width:10%; padding-right:2px;">Irasyssolutions.com</td>
                        <td class="center" style="width:17%;">IND (INDIA) Ltd</td>
                        <td class="center" style="width:12%;">20/07/2016</td>
                        <td class="center" style="width:12%;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="center" style="width:30%;">UNIT 502,5/F,</td>
                        <td class="center" style="width:10%;">Bangladesh</td>
                        <td class="center" style="width:10%; padding-right:2px;">Irasyssolutions.com</td>
                        <td class="center" style="width:17%;">IND (INDIA) Ltd</td>
                        <td class="center" style="width:12%;">20/07/2016</td>
                        <td class="center" style="width:12%;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="center" style="width:30%;">UNIT 502,5/F,</td>
                        <td class="center" style="width:10%;">Bangladesh</td>
                        <td class="center" style="width:10%; padding-right:2px;">Irasyssolutions.com</td>
                        <td class="center" style="width:17%;">IND (INDIA) Ltd</td>
                        <td class="center" style="width:12%;">20/07/2016</td>
                        <td class="center" style="width:12%;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="center" style="width:30%;">UNIT 502,5/F,</td>
                        <td class="center" style="width:10%;">Bangladesh</td>
                        <td class="center" style="width:10%; padding-right:2px;">Irasyssolutions.com</td>
                        <td class="center" style="width:17%;">IND (INDIA) Ltd</td>
                        <td class="center" style="width:12%;">20/07/2016</td>
                        <td class="center" style="width:12%;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="center" style="width:30%;">UNIT 502,5/F,</td>
                        <td class="center" style="width:10%;">Bangladesh</td>
                        <td class="center" style="width:10%; padding-right:2px;">Irasyssolutions.com</td>
                        <td class="center" style="width:17%;">IND (INDIA) Ltd</td>
                        <td class="center" style="width:12%;">20/07/2016</td>
                        <td class="center" style="width:12%;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="center" style="width:30%;">UNIT 502,5/F,</td>
                        <td class="center" style="width:10%;">Bangladesh</td>
                        <td class="center" style="width:10%; padding-right:2px;">Irasyssolutions.com</td>
                        <td class="center" style="width:17%;">IND (INDIA) Ltd</td>
                        <td class="center" style="width:12%;">20/07/2016</td>
                        <td class="center" style="width:12%;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="center" style="width:30%;">UNIT 502,5/F,</td>
                        <td class="center" style="width:10%;">Bangladesh</td>
                        <td class="center" style="width:10%; padding-right:2px;">Irasyssolutions.com</td>
                        <td class="center" style="width:17%;">IND (INDIA) Ltd</td>
                        <td class="center" style="width:12%;">20/07/2016</td>
                        <td class="center" style="width:12%;">&nbsp;</td>
                    </tr>
					<tr>
					    <td class="center" style="width:30%;">UNIT 502,5/F,</td>
                        <td class="center" style="width:10%;">Bangladesh</td>
                        <td class="center" style="width:10%; padding-right:2px;">Irasyssolutions.com</td>
                        <td class="center" style="width:17%;">IND (INDIA) Ltd</td>
                        <td class="center" style="width:12%;">20/07/2016</td>
                        <td class="center" style="width:12%;">&nbsp;</td>
					</tr>
					<tr>
					    <td class="center" style="width:30%;">UNIT 502,5/F,</td>
                        <td class="center" style="width:10%;">Bangladesh</td>
                        <td class="center" style="width:10%; padding-right:2px;">Irasyssolutions.com</td>
                        <td class="center" style="width:17%;">IND (INDIA) Ltd</td>
                        <td class="center" style="width:12%;">20/07/2016</td>
                        <td class="center" style="width:12%;">&nbsp;</td>
					</tr>
					<tr>
					    <td class="center" style="width:30%;">UNIT 502,5/F,</td>
                        <td class="center" style="width:10%;">Bangladesh</td>
                        <td class="center" style="width:10%; padding-right:2px;">Irasyssolutions.com</td>
                        <td class="center" style="width:17%;">IND (INDIA) Ltd</td>
                        <td class="center" style="width:12%;">20/07/2016</td>
                        <td class="center" style="width:12%;">&nbsp;</td>
					</tr>
					<tr>
					    <td class="center" style="width:30%;">UNIT 502,5/F,</td>
                        <td class="center" style="width:10%;">Bangladesh</td>
                        <td class="center" style="width:10%; padding-right:2px;">Irasyssolutions.com</td>
                        <td class="center" style="width:17%;">IND (INDIA) Ltd</td>
                        <td class="center" style="width:12%;">20/07/2016</td>
                        <td class="center" style="width:12%;">&nbsp;</td>
					</tr>
					<tr>
					    <td class="center" style="width:30%;">UNIT 502,5/F,</td>
                        <td class="center" style="width:10%;">Bangladesh</td>
                        <td class="center" style="width:10%; padding-right:2px;">Irasyssolutions.com</td>
                        <td class="center" style="width:17%;">IND (INDIA) Ltd</td>
                        <td class="center" style="width:12%;">20/07/2016</td>
                        <td class="center" style="width:12%;">&nbsp;</td>
					</tr>
					<tr>
					    <td class="center" style="width:30%;">UNIT 502,5/F,</td>
                        <td class="center" style="width:10%;">Bangladesh</td>
                        <td class="center" style="width:10%; padding-right:2px;">Irasyssolutions.com</td>
                        <td class="center" style="width:17%;">IND (INDIA) Ltd</td>
                        <td class="center" style="width:12%;">20/07/2016</td>
                        <td class="center" style="width:12%;">&nbsp;</td>
					</tr>
					<tr>
					    <td class="center" style="width:30%;">UNIT 502,5/F,</td>
                        <td class="center" style="width:10%;">Bangladesh</td>
                        <td class="center" style="width:10%; padding-right:2px;">Irasyssolutions.com</td>
                        <td class="center" style="width:17%;">IND (INDIA) Ltd</td>
                        <td class="center" style="width:12%;">20/07/2016</td>
                        <td class="center" style="width:12%;">&nbsp;</td>
					</tr>
					<tr>
					    <td class="center" style="width:30%;">UNIT 502,5/F,</td>
                        <td class="center" style="width:10%;">Bangladesh</td>
                        <td class="center" style="width:10%; padding-right:2px;">Irasyssolutions.com</td>
                        <td class="center" style="width:17%;">IND (INDIA) Ltd</td>
                        <td class="center" style="width:12%;">20/07/2016</td>
                        <td class="center" style="width:12%;">&nbsp;</td>
					</tr>
					<tr>
					    <td class="center" style="width:30%;">UNIT 502,5/F,</td>
                        <td class="center" style="width:10%;">Bangladesh</td>
                        <td class="center" style="width:10%; padding-right:2px;">Irasyssolutions.com</td>
                        <td class="center" style="width:17%;">IND (INDIA) Ltd</td>
                        <td class="center" style="width:12%;">20/07/2016</td>
                        <td class="center" style="width:12%;">&nbsp;</td>
					</tr>
					<tr>
					    <td class="center" style="width:30%;">UNIT 502,5/F,</td>
                        <td class="center" style="width:10%;">Bangladesh</td>
                        <td class="center" style="width:10%; padding-right:2px;">Irasyssolutions.com</td>
                        <td class="center" style="width:17%;">IND (INDIA) Ltd</td>
                        <td class="center" style="width:12%;">20/07/2016</td>
                        <td class="center" style="width:12%;">&nbsp;</td>
					</tr>
					<tr>
					    <td class="center" style="width:30%;">UNIT 502,5/F,</td>
                        <td class="center" style="width:10%;">Bangladesh</td>
                        <td class="center" style="width:10%; padding-right:2px;">Irasyssolutions.com</td>
                        <td class="center" style="width:17%;">IND (INDIA) Ltd</td>
                        <td class="center" style="width:12%;">20/07/2016</td>
                        <td class="center" style="width:12%;">&nbsp;</td>
					</tr>
					<tr>
					    <td class="center" style="width:30%;">UNIT 502,5/F,</td>
                        <td class="center" style="width:10%;">Bangladesh</td>
                        <td class="center" style="width:10%; padding-right:2px;">Irasyssolutions.com</td>
                        <td class="center" style="width:17%;">IND (INDIA) Ltd</td>
                        <td class="center" style="width:12%;">20/07/2016</td>
                        <td class="center" style="width:12%;">&nbsp;</td>
					</tr>
					<tr>
					    <td class="center" style="width:30%;">UNIT 502,5/F,</td>
                        <td class="center" style="width:10%;">Bangladesh</td>
                        <td class="center" style="width:10%; padding-right:2px;">Irasyssolutions.com</td>
                        <td class="center" style="width:17%;">IND (INDIA) Ltd</td>
                        <td class="center" style="width:12%;">20/07/2016</td>
                        <td class="center" style="width:12%;">&nbsp;</td>
					</tr>
					<tr>
					    <td class="center" style="width:30%;">UNIT 502,5/F,</td>
                        <td class="center" style="width:10%;">Bangladesh</td>
                        <td class="center" style="width:10%; padding-right:2px;">Irasyssolutions.com</td>
                        <td class="center" style="width:17%;">IND (INDIA) Ltd</td>
                        <td class="center" style="width:12%;">20/07/2016</td>
                        <td class="center" style="width:12%;">&nbsp;</td>
					</tr>
					<tr>
					    <td class="center" style="width:30%;">UNIT 502,5/F,</td>
                        <td class="center" style="width:10%;">Bangladesh</td>
                        <td class="center" style="width:10%; padding-right:2px;">Irasyssolutions.com</td>
                        <td class="center" style="width:17%;">IND (INDIA) Ltd</td>
                        <td class="center" style="width:12%;">20/07/2016</td>
                        <td class="center" style="width:12%;">&nbsp;</td>
					</tr>
					<tr>
					    <td class="center" style="width:30%;">UNIT 502,5/F,</td>
                        <td class="center" style="width:10%;">Bangladesh</td>
                        <td class="center" style="width:10%; padding-right:2px;">Irasyssolutions.com</td>
                        <td class="center" style="width:17%;">IND (INDIA) Ltd</td>
                        <td class="center" style="width:12%;">20/07/2016</td>
                        <td class="center" style="width:12%;">&nbsp;</td>
					</tr>
					<tr>
					    <td class="center" style="width:30%;">UNIT 502,5/F,</td>
                        <td class="center" style="width:10%;">Bangladesh</td>
                        <td class="center" style="width:10%; padding-right:2px;">Irasyssolutions.com</td>
                        <td class="center" style="width:17%;">IND (INDIA) Ltd</td>
                        <td class="center" style="width:12%;">20/07/2016</td>
                        <td class="center" style="width:12%;">&nbsp;</td>
					</tr>
					<tr>
					    <td class="center" style="width:30%;">UNIT 502,5/F,</td>
                        <td class="center" style="width:10%;">Bangladesh</td>
                        <td class="center" style="width:10%; padding-right:2px;">Irasyssolutions.com</td>
                        <td class="center" style="width:17%;">IND (INDIA) Ltd</td>
                        <td class="center" style="width:12%;">20/07/2016</td>
                        <td class="center" style="width:12%;">&nbsp;</td>
					</tr>
					<tr>
					    <td class="center" style="width:30%;">UNIT 502,5/F,</td>
                        <td class="center" style="width:10%;">Bangladesh</td>
                        <td class="center" style="width:10%; padding-right:2px;">Irasyssolutions.com</td>
                        <td class="center" style="width:17%;">IND (INDIA) Ltd</td>
                        <td class="center" style="width:12%;">20/07/2016</td>
                        <td class="center" style="width:12%;">&nbsp;</td>
					</tr>
					<tr>
					    <td class="center" style="width:30%;">UNIT 502,5/F,</td>
                        <td class="center" style="width:10%;">Bangladesh</td>
                        <td class="center" style="width:10%; padding-right:2px;">Irasyssolutions.com</td>
                        <td class="center" style="width:17%;">IND (INDIA) Ltd</td>
                        <td class="center" style="width:12%;">20/07/2016</td>
                        <td class="center" style="width:12%;">&nbsp;</td>
					</tr>
					<tr>
					    <td class="center" style="width:30%;">UNIT 502,5/F,</td>
                        <td class="center" style="width:10%;">Bangladesh</td>
                        <td class="center" style="width:10%; padding-right:2px;">Irasyssolutions.com</td>
                        <td class="center" style="width:17%;">IND (INDIA) Ltd</td>
                        <td class="center" style="width:12%;">20/07/2016</td>
                        <td class="center" style="width:12%;">&nbsp;</td>
					</tr>
                </table>
            </div>
        </div>

        <br />
        <div class="fillFullPart text-center border1">
            END OF DOCUMENT
        </div>

        <br />
        <footer>
            <!--<span class="footerText">p</span><span> +852 2148 4480</span>-->
            <span class="footerLogo" style=" width: 100%; font-size: 20px; padding-left: 5px;">WWW.frayte.com</span>
            <!--<span class="footerText">f</span><span> +852 2148 4480</span>-->
        </footer>
    <!--</div>-->
    </div>
</body>
</html>
