

<section>
<div class="modal-content fontsize12" style="margin-bottom: 0px; border-color: #DBE2EC !important;">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss('cancel')"><i class="fa fa-times-circle-o" aria-hidden="true" style="font-size:30px;"></i></button>
        <h4 class="modal-title">{{'Jobs_In_Progress' | translate}} </h4>
    </div>

    <div class="modal-body">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">{{'AdvanceFilter' | translate}}</div>
                <div class="panel-body">
                    <!--start filter-->
                    <div class="col-sm-12 paddingboth">
                        <div class="col-sm-5 paddingboth form-group">
                            <label for="Destination_Country" class="col-sm-5 paddingboth top5">{{'shipment_PieceDetailsHSCode' | translate}} {{'Operator' | translate}}</label>
                            <div class="col-sm-7">
                                <select class="form-control" ng-model="track.OperatorId"
                                        ng-options="operator.UserId as operator.Name for operator in Operators track by operator.UserId">
                                    <option value="">{{'All' | translate}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-5 paddingboth form-group">
                            <label for="HSCode_Operator" class="col-sm-5 paddingboth top5">{{'Destination_Country' | translate}}</label>
                            <div class="col-sm-7">
                                <select class="form-control" ng-model="track.DestinationCountry"
                                        ng-options="country.CountryId as country.Name for country in Countries track by country.CountryId">
                                    <option value="">{{'All' | translate}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2 paddingboth form-group">
                            <button class="btn-simple btn-primary pull-right" ng-click="Search()"><i class="fa fa-search" aria-hidden="true"></i>{{'Search' | translate}}</button>
                        </div>
                    </div>
                    <!--end filter-->
                </div>
            </div>
        </div>
        <!--select checkbox code-->
        <div class="col-sm-12 form-group">
            <div class="col-sm-5" ng-show="jobs.length">
                <label><input type="checkbox" ng-model="SelectAll" ng-change="allJobsEvent()" name="all_select" id="all_select" /> &nbsp;{{'All_Select' | translate}}</label>
            </div>
            <div class="col-sm-7 paddingboth text-right pull-right">
                <label class="text-right"><span class="frayte-orange">{{'Completed_Job_OR_Total_No_Of_Jobs' | translate}}</span> <span class="frayte-background-blue job-button">({{jobCount.CompletedJobs}} / {{jobCount.TotalJobs}})</span></label>
            </div>
        </div>
        <!--end checkbox code-->

        <div class="col-sm-12" ng-show="jobs.length">
            <!--start header code-->
            <div class="widht100 jobinprogress-header">
                <div class="fix-overflow-header-width">
                <div class="width4 padding-5"><span class="visibility">hidden</span></div>
                <div class="width4 padding-5"><span class="visibility">hidden</span></div>
                <div class="width4 padding-5"><span class="visibility">hidden</span></div>
                <div class="width17-6 padding-5 padding10 quotation-table-body bold">{{'FRAYTE_Ref#' | translate}}</div>
                <div class="width17-6 padding-5 padding10 quotation-table-body bold">{{'Staff_Assigned' | translate}}</div>
                <div class="width17-6 padding-5 padding10 quotation-table-body bold">{{'Origin' | translate}}</div>
                <div class="width17-6 padding-5 padding10 quotation-table-body bold">{{'Destination' | translate}}</div>
                <div class="width17-6 padding-5 padding10 quotation-table-body bold">{{'Description_Of_Goods' | translate}}</div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!--end header-->
            <div class="clearfix"></div>
            <div class="modal-body quotation-overflow" style="padding:0px !important;">

                <ul class="list-unstyled margin-bottom-none">
                    <li ng-repeat="item in jobs" class="alternate">
                        <!--start header body code-->
                        <div class="width100"  ng-class="{'demoClass':item.IsSelected}">
                            <div class="width4 padding-5 text-center"><input type="checkbox" class="fontsize22" ng-model="item.IsSelected" name="job_check" id="job_check" /></div>
                                    <div class="width4 padding-5 text-center"><i class="fa pointer " ng-class="{'fa fa-plus-square-o' : !item.collapseToggle, 'fa fa-minus-square-o' : item.collapseToggle}" aria-hidden="true" ng-click="item.collapseToggle=!item.collapseToggle; item.collapse =! item.collapse" style="font-size:18px;vertical-align: text-top;"></i></div>
                                    <div class="width4 padding-5 text-center">
                                        <i ng-show="item.IsHsCodeSet" class="fa fa-thumbs-o-up greenClass fa-14" aria-hidden="true"></i>
                                        <i ng-show="!item.IsHsCodeSet" class="fa fa-thumbs-up fa-14" aria-hidden="true"></i>
                                    </div>
                                    <div class="width17-6 padding-5 padding10 quotation-table-body">{{item.FrayteNumber}}</div>
                                    <div class="width17-6 padding-5 padding10 quotation-table-body">{{item.StaffAssigned}}</div>
                                    <div class="width17-6 padding-5 padding10 quotation-table-body">{{item.FromCountry}}</div>
                                    <div class="width17-6 padding-5 padding10 quotation-table-body">{{item.ToCountry}}</div>
                                    <div class="width17-6 padding-5 padding10 quotation-table-body">{{item.ShipmentDescription}}</div>
                                    <div class="clearfix"></div>
                            <div class="clearfix"></div>
                        </div>
                        <!--end header body-->
                        <div class="clearfix"></div>
                        <div class="panel-body collapse panel-collapse" uib-collapse="item.collapse" id="reminderHeader{{item.QuotationShipmentId}}" style="padding:0px !important;">
                            <div class="width100 flex">
                                <div class="width4" style="background: #fff;"><span class="visibility">Hide</span></div>
                                <div class="width96" style="background:#EAF0F5;margin:0 auto;padding:5px 5px 5px;">
                                    <div class="fix-overflow-header-width">
                                    <div class="width10  word-wrap word-break bold">{{'Carton' | translate}} <small>({{'qty_' | translate}})</small></div>
                                    <div class="width10 word-wrap word-break bold">{{'Length' | translate}} <small>({{'CM' | translate}})</small></div>
                                    <div class="width10 word-wrap word-break bold">{{'Width' | translate}} <small>({{'CM' | translate}})</small></div>
                                    <div class="width10 word-wrap word-break bold">{{'Height' | translate}} <small>({{'CM' | translate}})</small></div>
                                    <div class="width10 word-wrap word-break bold">{{'Weight' | translate}} <small>({{'kGS' | translate}})</small></div>
                                    <div class="width20 word-wrap word-break bold">{{'HS_Code_Lookup' | translate}} <small></small></div>
                                    <div class="width30 word-wrap word-break bold">{{'Shipment_Content' | translate}} <small></small></div>
                                    <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="width100">
                                <div class="width100 jobinprogress-header-overflow">
                                    <ul class="list-unstyled">
                                        <li class="alternate-hscode" ng-repeat="Package in item.Packages" style="border-bottom: transparent;margin-bottom: -1px;">
                                            <div class="width100 flex border-bottom-ddd">
                                                <div class="width4 padding-5" style="background: #fff !important;border-bottom: transparent;margin-bottom: -1px;">
                                                    <span class="visibility">hide</span>
                                                    <!--<i ng-show="Package.IsPrinted" class="fa fa-thumbs-o-up greenClass fa-14" aria-hidden="true"></i>
                                                    <i ng-show="!Package.IsPrinted" class="fa fa-thumbs-up fa-14" aria-hidden="true"></i>-->
                                                </div>
                                                <div class="width96">
                                                <div class="width10 padding-5" >
                                                    <span class="middle">{{Package.CartoonValue}}</span>
                                                </div>
                                                <div class="width10 padding-5" >
                                                    <span class="middle">{{Package.Length}}</span>
                                                </div>
                                                <div class="width10 padding-5">
                                                    <span class="middle">{{Package.Width}}</span>
                                                </div>
                                                <div class="width10 padding-5" >
                                                    <span class="middle">{{Package.Height}}</span>
                                                </div>
                                                <div class="width10 padding-5" >
                                                    <span class="middle">{{Package.Weight}}</span>
                                                </div>
                                                <div class="width20 padding-right10 padding-5">
                                                    <input type="text" class="form-control" ng-model="Package.HSCode" name="hscode" uib-typeahead-min-length="3"
                                                           uib-typeahead="hsCode.Description as hsCode.HSCode +' - '+ hsCode.Description   for hsCode in getHSCodes($viewValue,'HSCode',Package)"
                                                           typeahead-loading="loadingLocations" typeahead-on-select="onSelect($item, $model, $label, $event,Package)" ng-change="detectHSCodeChange(Package, 'HSCode')" />
                                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                                </div>
                                                <div class="width30 padding-right10 padding-5">
                                                    <input type="text" class="form-control" ng-model="Package.Content" name="content" uib-typeahead-min-length="3" uib-typeahead="hsCode.Description as hsCode.HSCode +' - '+ hsCode.Description   for hsCode in getHSCodes($viewValue,'HSDescription',Package)"
                                                              typeahead-loading="loadingLocations" typeahead-on-select="onSelect($item, $model, $label, $event,Package)" ng-change="detectHSCodeChange(Package, 'Content')"
                                                              capitalize-first />
                                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                                </div>
                                                <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
 

    </div>
    <div class="clearfix"></div>
    <!--pagination code start-->
    <div class="col-sm-12" ng-show="jobs.length">
        <div class="col-sm-8 paddingboth">
            <div class="col-sm-7"><ul uib-pagination boundary-links="true" total-items="totalItemCount" ng-change="pageChanged(track)" ng-model="track.CurrentPage" items-per-page="track.TakeRows" max-size="maxSize" num-pages="numPages" class="pagination-sm padding0" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul></div>
            <div class="col-sm-5 paddingboth">
                <label class="col-sm-8 top9 paddingboth"><label class="text-right">{{'Show_Jobs_In_Progress_Per_Page' | translate}}</label></label>
                <div class="col-sm-4 paddingboth">
                    <select ng-model="track.TakeRows" class="form-control" ng-options="num as num for num in numbers" ng-change="changePagination()"></select>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="col-sm-8">
                <select class="form-control" ng-model="OpeartorJob.OperatorId"
                        ng-options="operator.UserId as operator.Name for operator in Operators track by operator.UserId"></select>
            </div>
            <button type="button" ng-click="AssignJobs()" class="btn-simple btn-primary col-sm-4 paddingboth"><i class="fa fa-user-o" aria-hidden="true"></i> {{'Assign' | translate}}</button>
        </div>
    </div>
    <!--pagination code end-->
    <div class="clearfix"></div>
    <div class="modal-footer">
        <div class="col-sm-12">
            <div class="pull-right">
                <button type="button" ng-click="$dismiss('cancel')" class="btn-simple btn-cancel fontsize12"><i class="fa fa-times" aria-hidden="true"></i> {{'Close_Window' | translate}}</button>
            </div>
        </div>
    </div>
</div>
</section>