
<div class="modal-body">
    <div class="form-group" style="margin-bottom:30px;">
          <button type="button" class="close" ng-click="cancel()"><i class="fa fa-times-circle-o" aria-hidden="true" style="font-size:30px;"></i></button>
        <h4>{{'ForgotPassword' | translate}}</h4>
    </div>
    <form name="ForgetPasswordForm" ng-submit="submit(ForgetPasswordForm.$valid, recover)" novalidate>
        <div class="form-group">
            <span>{{'ForgotPasswordSubText' | translate}}</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': ForgetPasswordForm.Email.$invalid &&
                                                         (ForgetPasswordForm.Email.$dirty  || submitted) }">
            <label class="control-label" for="Email">{{'Email' | translate}} {{'Address' | translate}}</label>
            <input type="email" class="form-control fontsize12" id="Email" name="Email" ng-model="recover.Email" placeholder="{{'EnterEmailAdd' | translate}}" required />
            <span class="help-block has-error"
                  ng-show="ForgetPasswordForm.Email.$invalid &&
                           (ForgetPasswordForm.Email.$dirty  || submitted)">
                {{'EnterValidEmailAdd' | translate}}
            </span>
        </div>
        <div class="form-group text-center">            
            <button type="submit" ng-click="submitted=true" class="btn btn-primary fontsize12">{{'Send' | translate}} {{'Email' | translate}}</button>
        </div>
    </form>
</div>
