<!DOCTYPE html>
<html>
<head>
    <title></title>
<style>
 p{
margin:0px !important;
}
</style>
</head>
<body style="margin: 0; padding: 0; font-family: calibri, sans-serif;padding:10px 20px;">
   <table style="border-spacing: 0px;">
				<tr><td style="font-family: calibri, sans-serif;">Dear <b>Frayte Developer,</b></td></tr>
			 </table>
 <div>
 <p>
      After ship not parsed. Below is the raw after ship object.
 </p>
 <br/>
 <p>
 @ViewBag.Value
 </p>
</div> 
		<table style="border-spacing: 0px;">
				<tr><td style="font-family: calibri, sans-serif;">Kind Regards,</td></tr> 
                <tr><td style="font-family: calibri, sans-serif;"><b>FRAYTE GLOBAL</b></td></tr> 
            </table>	 
<br/>
	 <footer>
        <table style="border-spacing: 0px;">
            <tr><td style="font-family: calibri, sans-serif;font-size: 12px;">FRAYTE GLOBAL All rights reserved.</td></tr>
        </table>
    </footer>
</body>
</html>
