<!DOCTYPE html>
<html>
<head>
    <title></title>
	<style>
 p{
margin:0px !important;
}
</style>
</head>
<body style="font-family: calibri, sans-serif; margin:0px; padding:0px;padding:10px 20px;">
	<header>
        <div style="height: 70px; background: #fff !important; text-align: left;">
            <img src="cid:@ViewBag.ImageHeader" />
        </div>
    </header>
	<br/>

			<table style="border-spacing: 0px;">
            <tr><td style="font-family: calibri, sans-serif;">Dear <b>Customer,</b></td></tr>
			<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
            <tr><td style="font-family: calibri, sans-serif;">We are please to inform you that the FRAYTE Reference No# @ViewBag.ShipmentOrderNo has been cancelled. You will get no charges for this shipment.</td></tr>
            <tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
			</table>
			<br/>
			<table style="border-spacing: 0px;">
			<tr><td style="font-family: calibri, sans-serif;">Kind Regards,</td></tr>
			<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
            <tr><td style="font-family: calibri, sans-serif;">FRAYTE Customer Service Team</td></tr>
				 <tr><td style="font-family: calibri, sans-serif;"><a href="@ViewBag.SiteAddress">@ViewBag.SiteAddress</a></td></tr>
			</table>
<br/>
		 <footer>
        <table style="border-spacing: 0px;">
            <tr><td style="font-size: 12px;font-family: calibri, sans-serif;">FRAYTE GLOBAL All rights reserved.</td></tr>
        </table>
    </footer>
</body>
</html>