<!DOCTYPE html>
<html>
<head>
    <title></title>
	<style>
		 p{
			margin:0px !important;
		  }
	</style>
</head>
<body style="margin: 0; padding: 0; background: #fff; font-family: calibri, sans-serif;padding:10px 20px;">
    <header>
         <div style="height: 70px; background: #fff !important; text-align: left;">
            <img src="cid:@ViewBag.ImageHeader" />
        </div>
    </header>
	<br/>
	<table style="border-spacing: 0px;">
		<tr><td style="font-family: calibri, sans-serif;">Following shipment reference no# has been deleted</td></tr>
		<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
		<tr><td style="font-family: calibri, sans-serif;"><b>Shipment Reference No#:</b> @ViewBag.FrayteNumber</td></tr>
		<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
	<br/>
    <footer>
        <table style="font-size: 12px;border-spacing: 0px;">
            <tr><td style="font-family: calibri, sans-serif;">FRAYTE GLOBAL All rights reserved.</td></tr>
		</table>
    </footer>	
</body>
</html>