<div class="addButtonTop fontsize12">
    <div class="col-sm-12 paddingboth">
    <div class="pull-left" ng-if="RoleId === 1 || RoleId === 6">
        <span class="pointer"><a href="downloadForm/Customer List Upload.xlsx" download="Customer List Upload.xlsx"class="btn-link height44 fontsize12"> {{'Download_Customer_Upload_Template' | translate}} <!--<img ng-src="{{ImagePath + 'Excel.png'}}" style="width:24px;" />--></a></span>&nbsp;&nbsp;
        <span class="button"
              ng-model="piecesExcel"
              name="shipmentPiecesDetails"
              ngf-pattern="'application/vnd.ms-excel,text/plain,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"
              accept="application/vnd.ms-excel,text/plain,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" ngf-max-size="20MB"
              ngf-select="WhileAddingReceiverExcel($files, $file, $event)">
            <button type="button" class="btn-simple btn-save height44 fontsize12" style="padding:8px 12px !important;"><i class="fa fa-upload" aria-hidden="true"></i> {{'Upload' | translate}} <!--<img ng-src="{{ImagePath + 'Excel.png'}}" style="width:24px;" />--></button>
        </span>
    </div>
    <div class="pull-right">
        <button type="button" class="btn-simple btn-save fontsize12 height44 left-1" ng-click="AddEditCustomer()"><i class="fa fa-plus" aria-hidden="true"></i> {{'AddCustomer' | translate}}</button>        
    </div>
    <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>
<br/>
<div data-ui-grid="gridOptions" ui-grid-selection class="myGrid fontsize12" style="min-height: {{gridheight}}px;"></div>
<div class="clearfix"></div>