* {
    margin: 0;
    padding: 0;
}
body {padding: 0px;
    font-size: 12px !important;
    /*font-family: 'Roboto', sans-serif !important;*/
    font-family:Arial;
    font-weight: 400;
    /* letter-spacing: 1px; */
}

/*.colHeader {
    float: left;
    padding: 8px;
    text-align: center;
    border-right: 1px solid #ddd;
    width: 10%;
    background: #f5f5f5;
}*/

.colHeader {
    float: left;
    padding: 8px;
    text-align: center;
    border-right: 1px solid #ddd;
}

.panel-footer {
    padding: 0px !important;
    color: #333333;
    background: #EAF0F5;
    border-color: #dddddd;
}

.color {
    color: #94a4bd;
  
}

.footer1 {
    width: 28%;
    float: left;
    padding: 8px 0px 8px 15px;
    text-align: left;
    background: #EAF0F5;
    border-color: #dddddd;
}

.footer2 {
    width: 28%;
    float: left;
    padding: 8px 0px 8px 15px;
    text-align: left;
    background: #EAF0F5;
    border-color: #dddddd;
}

.footer3 {
    width: 44%;
    float: left;
    padding: 8px 0px 8px 15px;
    text-align: left;
    background: #EAF0F5;
    border-color: #dddddd;
}

.wrapper {
    width: 88%;
    margin: 0 auto;
    /*font-size: 12px !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500;*/
}

header .headerRight {
    float: right;
    width: 75%;
    height: 70px;
    background: #0B3D5A;
    color: #fff;
    text-align: center;
    padding: 0px;
}

header .logo {
    float: left;
    width: 25%;
    height: 70px;
    background: #fff;
    padding: 5px 25px;
}



.deliveryDateBlock .deliveryInfo {
    float: left;
    border: 1px solid #333;
    background: #0B3D5A;
    color: #fff;
    width: 265px;
    text-align: right;
    padding: 1px 5px;
    margin-top: 2px;
}

.deliveryDateBlock .deliveryDate {
    margin-top: 2px;
    float: right;
    border: 1px solid #333;
    background: #fff;
    width: 265px;
}

.piecesDetailTable {
    font-family: 'Roboto', sans-serif !important;
}

    .piecesDetailTable .panel {
        border-radius: 2px;
    }

    .piecesDetailTable .panel-heading {
        padding: 0px !important;
        color: #4d5663;
        background: #EAF0F5;
    }

    .piecesDetailTable .panel-body {
        padding: 0px !important;
    }

    .piecesDetailTable .panel-footer {
        padding: 0px !important;
        color: #333333;
        background: #EAF0F5;
        border-color: #dddddd;
    }

.colFooter {
    width: 26%;
    float: left;
    padding: 8px 0px 8px 15px;
    text-align: left;
}

.marginTop3 {
    margin-top: 3px;
}

.width49 {
    width: 49.7%;
    padding: 0px;
}

.width50 {
    width: 50%;
    padding: 1px;
}

.border1 {
    border: 1px solid #333;
}



.subHeadLeft {
    float: left;
    width: 100%;
    font-size: 20px;
    color: #fff;
    padding-left: 5px;
    background: #0B3D5A;
    border: 1px solid #333;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.shipmentNoBlock {
    width: 530px;
    margin-top: 10px;
}

    .shipmentNoBlock .shipmentInfo {
        float: left;
        border: 1px solid #333;
        background: #0B3D5A;
        color: #fff;
        width: 265px;
        text-align: right;
        padding: 1px 5px;
    }

    .shipmentNoBlock .shipmentNo {
        float: right;
        border: 1px solid #333;
        background: #fff;
        width: 265px;
        text-align: left;
        padding: 1px 5px;
    }

/*.pageNo {
    float: right;
    width: 20%;
    background: #808080;
    border: 1px solid #333;
    color: #fff;
    text-align: right;
    padding: 8px 5px;
    font-size: 18px;
}*/

.paddup {
    border: 1px solid #ddd;
    background: #0B3D5A;
    color: #fff;
    padding: 10px;
}

.center {
    text-align: center;
    font-size: 12px;
    text-align: center;
}

.fillFullPart {
    float: none;
    width: 100%;
    height: 20px;
    color: #fff;
    padding: 2px;
    background: #0B3D5A;
}

.padding2 {
    padding: 2px;
}

.upperCase {
    text-transform: uppercase;
}

.border1 {
    border: 1px solid #333;
}

.margin10 {
    margin-top: 10px;
}

.center {
    width: 130px;
    text-align: center;
    padding: 2px;
}


footer {
    /*height: 60px;*/
    background: #0B3D5A;
    color: #fff;
    text-align: center;
    /*padding: 12px 0px;*/
}

footer .footerLogo {
        color: #EB8633;
        /*padding: 0 6px;*/
        /*font-size:18px;*/
        letter-spacing:0.7px;
        text-transform: uppercase;
        display: inline-block;
        font-weight:300;
           /*float: left;*/
    /*width: 100%;
    font-size: 20px;
    padding-left: 5px;*/
    }
    /*footer .footerLogo {
        color: #EB8633;
        padding: 0 15px;
        font-size: 9px;
        letter-spacing: 0.7px;
        text-transform: uppercase;
        display: inline-block;
        font-weight: 700;
        transform: scale(1,3);
        -webkit-transform: scale(1,3);
        -moz-transform: scale(1,3);
        -ms-transform: scale(1,3);
        -o-transform: scale(1,3);
    }*/

    footer .footerText {
        font-size: 25px;
        color: #EB8633;
    }
