<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="FrayteEntities" connectionString="metadata=res://*/DataAccess.FrayteDB.csdl|res://*/DataAccess.FrayteDB.ssdl|res://*/DataAccess.FrayteDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN-PC\SQLEXPRESS2012;initial catalog=FrayteLogistic;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="FrayteEntities" connectionString="metadata=res://*/DataAccess.FrayteDB.csdl|res://*/DataAccess.FrayteDB.ssdl|res://*/DataAccess.FrayteDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEV2;initial catalog=FrayteLogisticDirect;user id=sa;password=1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="FrayteEntities" connectionString="metadata=res://*/DataAccess.FrayteDB.csdl|res://*/DataAccess.FrayteDB.ssdl|res://*/DataAccess.FrayteDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN-PC\SQLEXPRESS2012;initial catalog=FrayteLogistic;user id=sa;password=1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
    <add key="ProfileImagePath" value="../build/assets/" />

    <add key="OwnerMail" value="anil.kumar@irasyssolutions.com" />
    <add key="DevelopmentMail" value="chetram@irasyssolutions.com" />

    <add key="ProfileImagePath" value="../build/assets/" />
    <add key="HostName" value="http://localhost:2705/build" />

    <!--<add key="WebApiPath" value="http://admin-pc:808/"/>-->
    <add key="WebApiPath" value="http://localhost:24047/" />

    <add key="RateCardTime" value="10:00:00" />    
    <add key="CurrencyTime" value="08:00:00" />    
    <add key="FuelSurChargeDay" value="Monday" />
    <add key="FuelSurChargeTime" value="11:00:00" />

    <add key="MailHostName" value="smtp.gmail.com" />
    <add key="SMTPport" value="587" />
    <add key="SMTPUserName" value="smtp.test7813@gmail.com" />
    <add key="SMTPPassword" value="smtpTest" />
    <add key="FromMail" value="smtp.test7813@gmail.com" />
    <add key="EnableSsl" value="Y" />
    <add key="BCC" value="anil.kumar@irasyssolutions.com" />


    <add key="TOCC" value="anil.kumar@irasyssolutions.com" />  <!--pushkar.thapliyal@gmail.com-->

    <add key="EmailServicePath" value="E:\IRA\FrayteLogistic\FrayteEmailService" />
    
    <add key="RemainderSetting" value="Hour" />
    <add key="OpearationZone" value="2#GBR" />
    <add key="WebApiURL" value="http://localhost:24047/api/ReportSetting/" />
    <add key="WebApiRateCardURL" value="http://localhost:24047/api/Customer/" />
    <add key="WebApiDirectShipment" value="http://localhost:24047/api/Shipment/" />
    <add key="WebApiFuelSurCharge" value="http://localhost:24047/api/FuelSurCharge/" />
    <add key="WebApiExchangeRate" value="http://localhost:24047/api/ExchangeRate/" />
    
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PayPalCoreSDK" publicKeyToken="5b4afc1ccaef40fb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.1.0" newVersion="1.7.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>