<div class="ui-grid-cell-contents">
    <div class="btn-group" uib-dropdown dropdown-append-to-body>
        &nbsp;<a id="btn-append-to-to-body" href=""  uib-dropdown-toggle><span class="glyphicon glyphicon-option-horizontal" style="font-size:16px;color:#4D5663;"></span></a>
        <ul class="fix-dropdown-overlay" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
            <li>
                <a href="" ng-click="grid.appScope.ShipmentDetail(row)">
                    <span>{{'Detail' | translate}}</span>
                </a>
            </li>
            <li>
                <a href="" ng-click="grid.appScope.DownloadShipmentDocuments(row)">
                    <span>{{'Download' | translate}} {{'Documents' | translate}}</span>
                </a>
            </li>
        </ul>
    </div>
</div>