<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss('cancel')"><i class="fa fa-times-circle-o" aria-hidden="true" style="font-size:30px;"></i></button>
    <h4 class="modal-title">{{'Modify' | translate}} {{'MyProfile' | translate}}</h4>
</div>
<div class="modal-body">
    <div>
        <div class="profile-imageBlock">
            <img ng-src="{{userInfo.PhotoUrl}}" class="profile-image" />            
            <div class="profile-image-change-text" ng-model="profileImage" name="profileImageFile"
                 ngf-pattern="'image/*'"
                 accept="image/*" ngf-max-size="20MB"
                 ngf-select="chooseImage($files, $file, $event)">{{'Change' | translate}}</div>
        </div>        
        <div class="profile-editBlock">
            <div class="profile-name">{{userInfo.UserName}}</div>
            <div class="profile-email">{{userInfo.EmployeeMail}}</div>
            <div class="padding-tb-10">
                <button type="button" ng-click="ShowHide()" class="btn-addPopup"><span class="fa fa-pencil"></span>&nbsp;&nbsp;{{'Change' | translate}} {{'LoginPassword' | translate}}</button>
                <br /><br />
                <div ng-if="Show">                    
                    <form name="ProfileForm" ng-submit="ChangePassword(ProfileForm.$valid)" novalidate>
                        <div class="form-group" ng-class="{ 'has-error': ProfileForm.currPassword.$invalid &&
                                                         (ProfileForm.currPassword.$dirty || submitted) }">
                            <div class="col-sm-5">
                                <label class="control-label" for="currPassword">{{'Current' | translate}} {{'LoginPassword' | translate}} <span class="redColor">*</span></label>
                            </div>
                            <div class="col-sm-7">
                                <input type="password" id="currPassword" name="currPassword" ng-model="user.CurrentPassword"
                                       class="form-control" placeholder="{{'Enter' | translate}} {{'Current' | translate}} {{'LoginPassword' | translate}}" required />
                                <div>
                                    <span class="help-block has-error" ng-show="ProfileForm.currPassword.$invalid &&
                                          (ProfileForm.currPassword.$dirty || submitted)">
                                        {{'Current' | translate}} {{'LoginPasswordValidError' | translate}}
                                    </span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': ProfileForm.newPassword.$invalid &&
                                                         (ProfileForm.newPassword.$dirty || submitted) }">
                            <div class="col-sm-5">
                                <label class="control-label" for="newPassword">{{'New' | translate}} {{'LoginPassword' | translate}} <span class="redColor">*</span></label>
                            </div>
                            <div class="col-sm-7">
                                <input type="password" id="newPassword" name="newPassword" ng-model="user.NewPassword"
                                       class="form-control" placeholder="{{'Enter' | translate}} {{'New' | translate}} {{'LoginPassword' | translate}}" required />
                                <span class="help-block has-error"
                                      ng-show="ProfileForm.newPassword.$error.required &&
                           (ProfileForm.newPassword.$dirty || submitted)">
                                     {{'New' | translate}} {{'LoginPasswordValidError' | translate}}
                                </span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': ProfileForm.confPassword.$invalid &&
                                                         (ProfileForm.confPassword.$dirty || submitted) }">
                            <div class="col-sm-5">
                                <label class="control-label" for="confPassword">{{'Confirm' | translate}} {{'LoginPassword' | translate}} <span class="redColor">*</span></label>
                            </div>
                            <div class="col-sm-7">
                                <input type="password" id="confPassword" name="confPassword" ng-model="user.ConfirmPassword" compare-to="user.NewPassword"
                                       class="form-control" placeholder="{{'Enter' | translate}} {{'Confirm' | translate}} {{'LoginPassword' | translate}}" required />
                                <span class="help-block has-error"
                                      ng-show="ProfileForm.confPassword.$error.required &&
                           (ProfileForm.confPassword.$dirty || submitted)">
                                    {{'Confirm' | translate}} {{'LoginPasswordValidError' | translate}}
                                </span>   
                                <span class="help-block has-error"
                                      ng-show="ProfileForm.confPassword.$error.compareTo  && !ProfileForm.confPassword.$error.required &&
                           (ProfileForm.confPassword.$dirty || submitted)">
                                    {{'LoginPassword' | translate}} and {{'Confirm' | translate}} {{'LoginPassword' | translate}} must match.
                                </span>                               
                            </div>
                            <div class="clearfix"></div>
                        </div>                  
                        <div class="col-sm-12">
                            <button type="button" ng-click="ShowHide()" class="btn-simple btn-cancel fontsize12"><i class="fa fa-times" aria-hidden="true"></i> {{'Cancel' | translate}}</button>
                            &nbsp;
                            <button type="submit" ng-click="submitted=true" class="btn-simple btn-save fontsize12"><i class="fa fa-floppy-o" aria-hidden="true"></i> &nbsp;{{'Save' | translate}} &nbsp;</button>
                        </div>
                        <br /><br />
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

