<div class="newModalDialog">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss('ok')"><i class="fa fa-times-circle-o" aria-hidden="true" style="font-size:30px;"></i></button>
        <p class="modal-title">{{'ShipmentCancelConfirm' | translate}}</p>
    </div>
    <div class="modal-body">
        <div>
            <p>{{'ShipmentCancelConfirmText' | translate}}</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="other-btn-modal" ng-click="$dismiss('ok')">{{'Cancel' | translate}}</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="other-btn-modal" ng-click="$close('cancel')"> &nbsp;&nbsp;{{'Yes' | translate}} &nbsp;</button>
    </div>
</div>