<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Frayte.WebApi-20150827070717.mdf;Initial Catalog=aspnet-Frayte.WebApi-20150827070717;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="IdentityConnection" connectionString="Data Source=DEV2;Initial Catalog=FrayteLogisticDirectLiveIdentity;user id=sa;password=1234;" providerName="System.Data.SqlClient" />
    <!--<add name="IdentityConnection" connectionString="data source=119.9.110.197;initial catalog=FrayteLogisticDirect;user id=sa;password=FrayteDB#15;" providerName="System.Data.SqlClient" />-->
    <add name="FrayteEntities" connectionString="metadata=res://*/DataAccess.FrayteDB.csdl|res://*/DataAccess.FrayteDB.ssdl|res://*/DataAccess.FrayteDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEV2;initial catalog=FrayteLogisticDirectLiveIdentity;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="FrayteEntities" connectionString="metadata=res://*/DataAccess.FrayteDB.csdl|res://*/DataAccess.FrayteDB.ssdl|res://*/DataAccess.FrayteDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=119.9.110.197;initial catalog=FrayteLogisticDirect;user id=sa;password=FrayteDB#15;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="FilePath" value="D:\ProjectFrayte\Frayte\Frayte.WebApi\PackageLabel\" />
    <add key="ClientFolderPath" value="D:\ProjectFrayte\Frayte\Frayte.WebApi\pdfdownload\" />
    <add key="PrinterName" value="ZDesigner GC420T (1)" />
  </appSettings>
</configuration>