 <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss('cancel')"><i class="fa fa-times-circle-o" aria-hidden="true" style="font-size:30px;"></i></button>
    <h4 class="modal-title">{{'confirmShp_ShipmentDetail' | translate}}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">{{'Ship_From' | translate}}</div>
                <div class="panel-body">
                    <div style="padding:5px 0;">
                        <div>{{shipmentDetail.Shipper.ContactName}}<br /></div>
                        <div>{{shipmentDetail.Shipper.CompanyName}}<br /></div>
                        <div>{{shipmentDetail.ShipperAddress.Address}}<br /></div>
                        <div>{{shipmentDetail.ShipperAddress.Address2}}<br /></div>
                        <div>{{shipmentDetail.ShipperAddress.Address3}}<br /></div>
                        <div>{{shipmentDetail.ShipperAddress.City}}, {{shipmentDetail.ShipperAddress.State}}<br /></div>
                        <div>{{shipmentDetail.ShipperAddress.Country.Name}} - {{shipmentDetail.ShipperAddress.Zip}}<br /></div>
                    </div>
                    <div style="padding:5px 0;color:#94a4bd;">
                        <div>{{'T' | translate}} <span> {{shipmentDetail.Shipper.TelephoneNo}}</span><br /></div>
                        <div>{{'E' | translate}} <span> {{shipmentDetail.Shipper.Email}}</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">{{'Ship_To' | translate}}</div>
                <div class="panel-body">
                    <div style="padding:5px 0;">
                        <div>{{shipmentDetail.Receiver.ContactName}}<br /></div>
                        <div>{{shipmentDetail.Receiver.CompanyName}}<br /></div>
                        <div>{{shipmentDetail.ReceiverAddress.Address}}<br /></div>
                        <div>{{shipmentDetail.ReceiverAddress.Address2}}<br /></div>
                        <div>{{shipmentDetail.ReceiverAddress.Address3}}<br /></div>
                        <div>{{shipmentDetail.ReceiverAddress.City}}, {{shipmentDetail.ReceiverAddress.State}}<br /></div>
                        <div>{{shipmentDetail.ReceiverAddress.Country.Name}} - {{shipmentDetail.ReceiverAddress.Zip}}<br /></div>
                    </div>
                    <div style="padding:5px 0;color:#94a4bd;">
                        <div>{{'T' | translate}} <span> {{shipmentDetail.Receiver.TelephoneNo}}</span><br /></div>
                        <div>{{'E' | translate}} <span> {{shipmentDetail.Receiver.Email}}</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!--shipment reference details-->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Shipment Reference Details</div>
                <div class="panel-body">
                    <section class="row">
                        <div>
                        <div class="col-sm-6">
                            <div>
                                <div class="left-part width50">Reference 1</div>
                                <label class="left-part width50"></label>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                            <div >
                                <div class="left-part width50">Special Instruction</div>
                                <label class="left-part width50"></label>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                            <div>
                                <div class="left-part width50">Collection Date</div>
                                <label class="left-part width50"></label>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <div class="left-part width50">Reference 2</div>
                                <label class="left-part width50"></label>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                            <div>
                                <div class="left-part width50">Content Descriptions</div>
                                <label class="left-part width50"></label>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        </div>
                 </section>
                    <hr/>
                    <div>
                        <h4>Frayte Sevice</h4>
                            <div>
                                <div class="col-sm-6 paddingleft">
                                    <div>
                                        <div class="left-part width50">Shipment Type</div>
                                        <label class="left-part width50"></label>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div>
                                        <div class="left-part width50">Rate</div>
                                        <label class="left-part width50"></label>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div>
                                        <div class="left-part width50">Courier Account</div>
                                        <label class="left-part width50"></label>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="clearfix"></div>
                        </div>
               </div>
            </div>
        </div>
                        <!--end-->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">{{'confirmShp_ShipmentDetail' | translate}}</div>
                                    <div class="panel-body">
                                        <section class="row">
                                            <div class="col-sm-6">
                                                <div>
                                                    <div class="left-part width50">Parcel Type</div>
                                                    <label class="left-part width50"></label>
                                                    <div class="clearfix"></div>
                                                </div>
                                              </div>
                                            <div class="col-sm-6">
                                                <div>
                                                    <div class="left-part width50">Currency</div>
                                                    <label class="left-part width50"></label>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </section>
                                        <hr />
                                        <section>
                                            <h4>Payment Party</h4>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div>
                                                        <div class="left-part width50">Who is a going to pay for the Shipment</div>
                                                        <label class="left-part width50"></label>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div>
                                                        <div class="left-part width50">Account No.</div>
                                                        <label class="left-part width50"></label>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </section>
                                        <hr />
                                        <section>
                                            <h4>Custom Information</h4>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div>
                                                        <div class="left-part width50">Content Type</div>
                                                        <label class="left-part width50"></label>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div>
                                                        <div class="left-part width50">Content Explonation</div>
                                                        <label class="left-part width50"></label>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div>
                                                        <div class="left-part width50">Non Delivery Option.</div>
                                                        <label class="left-part width50"></label>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div>
                                                        <div class="left-part width50">Restriction Type</div>
                                                        <label class="left-part width50"></label>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div>
                                                        <div class="left-part width50">Restriction Explonation</div>
                                                        <label class="left-part width50"></label>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div>
                                                        <div class="left-part width50">Custom Signature</div>
                                                        <label class="left-part width50"></label>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </section>
                                        <hr/>
                                        <section>
                                            <div class="piecesDetailTable">
                                                <h4 class="padding-tb-5">Packages Detail</h4>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <div class="colHeader" style="width:8%">Length</div>
                                                        <div class="colHeader" style="width:13%">Weight</div>
                                                        <div class="colHeader" style="width:10%">Height</div>
                                                        <div class="colHeader" style="width:12%">Weight</div>
                                                        <div class="colHeader" style="width:7%">Value</div>
                                                        <div class="colHeader" style="width:14%">Content</div>
                                                        <div class="colHeader" style="width:12%">Package Type</div>
                                                        <div class="colHeader" style="width:12%">Print Labels</div>
                                                        <div class="colHeader" style="width:12%">Tracking No</div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div>
                                                            <div class="colHeader" style="border-bottom:2px solid #f5f5f5;width:8%"><label>One</label></div>
                                                            <div class="colHeader" style="border-bottom:2px solid #f5f5f5;width:13%"><label>Two</label></div>
                                                            <div class="colHeader" style="border-bottom:2px solid #f5f5f5;width:10%"><label>Three</label></div>
                                                            <div class="colHeader" style="border-bottom:2px solid #f5f5f5;width:12%"><label>Four</label></div>
                                                            <div class="colHeader" style="border-bottom:2px solid #f5f5f5;width:7%"><label>Five</label></div>
                                                            <div class="colHeader" style="border-bottom:2px solid #f5f5f5;width:14%"><label>Six</label></div>
                                                            <div class="colHeader" style="border-bottom:2px solid #f5f5f5;width:12%"><label>Seven</label></div>
                                                            <div class="" style="border-bottom: 2px solid #f5f5f5; float: left; border-right: 2px solid #f5f5f5;padding:5px; width: 12%"><img src="../../../../vendor/images/Red%20Label.png" class="img-responsive" style="width:31px; height: 32px; margin: 0px 26px -1px;"/></div>
                                                            <div class="colHeader" style="border-bottom:2px solid #f5f5f5;width:12%"><label>Nine</label></div>
                                                        <div class="clearfix"></div>
                                                        </div>
                                                        <div class="clearfix"></div>                                                  
                                                         </div>
                                                  
                                                    <div class="panel-footer">
                                                        <div class="colFooter">
                                                            <div>{{'shipment_TotalNoPieces' | translate}}: <span>{{getTotalPieces()}}</span></div>
                                                        </div>
                                                        <div class="colFooter">
                                                            <div>{{'TotalWeight' | translate}}: <span>{{getTotalKgs()}}</span> ({{'shipment_Kgs' | translate}})</div>
                                                        </div>
                                                        <div class="colFooter">
                                                            <div>{{'TotalDimWeight' | translate}}: <span>{{getTotalVolWeight()}}</span> ({{'shipment_Kgs' | translate}})</div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
<div class="clearfix"></div>
                <div class="modal-footer">
                    <div class="text-right">
                        <button type="button" ng-click="$dismiss('cancel')" class="btn-simple btn-save"> {{'Ok' | translate}}</button>
                    </div>
                </div>
