<div class="ui-grid-cell-contents">
    <div class="dropdown">
        &nbsp;&nbsp;&nbsp;<a id="drop1" href="" role="button" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-option-horizontal" style="font-size:16px;color:#4D5663;"></span></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li>
                <a href="" ng-click="grid.appScope.ShipmentDetail(row)">
                    <span>{{'Detail' | translate}}</span>
                </a>
            </li>
            <li>
                <a href="" ng-click="grid.appScope.DownloadShipmentDocuments(row)">
                    <span>{{'Download' | translate}} {{'Documents' | translate}}</span>
                </a>
            </li>
            <!--<li>
                <a href="">
                    <span>{{'Confirm' | translate}}</span>
                </a>
            </li>
            <li>
                <a href="" ng-click="grid.appScope.UploadCommercialInvoice(row)">
                    <span>{{'Upload' | translate}} {{'Commercial' | translate}} {{'Invoice' | translate}}</span>
                </a>
            </li>
            <li>
                <a href="" ng-click="grid.appScope.UploadAWB(row)">
                    <span>{{'Upload' | translate}} {{'AWB' | translate}}</span>
                </a>
            </li>
            <li>
                <a href="" ng-click="grid.appScope.ConfirmAWB()">
                    <span>{{'Confirm' | translate}} {{'AWB' | translate}}</span>
                </a>
            </li>
            <li>
                <a href="" ng-click="grid.appScope.UpdateDropOffTime(row)">
                    <span>{{'Update' | translate}} {{'DropOff' | translate}} {{'Time' | translate}}</span>
                </a>
            </li>-->
        </ul>
    </div>
</div>