
<div>
    <div class="panel panel-default fontsize12" style="margin-bottom: 0px; border-color: #DBE2EC !important;">
        <div class="panel-heading">{{'AdvanceFilter' | translate}}</div>
        <div class="panel-body">
            <div class="col-sm-12 paddingboth">
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <label for="customers" class="col-sm-4 paddingboth top5">{{'Shipment_Types' | translate}}</label>
                        <div class="col-sm-8 form-group">
                            <select id="shipmentPaymentAccount" name="shipmentPaymentAccount"
                                    ng-model="TrackManifest.ModuleType" ng-change="getDetails()" ng-disabled="IsDisable"
                                    ng-options="shipment.BookingType as shipment.BookingTypeDisplay for shipment in fryateShipmentTypes"
                                    class="form-control fontsize12">
                                <option value="" disabled selected class="display-none">{{'Select' | translate}} {{'shipment_ShipmentDetailsShipmentType' | translate}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="customers" class="col-sm-4 top5">{{'Manifest' | translate}} {{'Number' | translate}}</label>
                        <div class="col-sm-8 form-group">
                            <input type="text" placeholder="{{'Manifest' | translate}} {{'Number' | translate}}" name="manifestName" ng-model="TrackManifest.ManifestName" class="form-control" />
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-6">
                        <div>
                            <label for="fromdate" class="col-sm-4 top5 right15">{{'From_Date' | translate}}</label>
                            <div class="col-sm-7 paddingright form-group">
                                <input type="text" id="FromDate" name="FromDate" class="form-control paddingleft fontsize12"
                                       uib-datepicker-popup="dd/MM/yyyy" ng-model="TrackManifest.FromDate" is-open="status.opened"
                                       close-text="Close" ng-click="openCalender($event)" readonly
                                       placeholder="{{'From_Date' | translate}}" style="padding-left: 7px !important;" />
                            </div>
                            <div class="col-sm-1 paddingboth dated-fix">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" style="padding:6px 14px !important;" ng-click="openCalender($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div>
                            <label for="todate" class="col-sm-4 top5">{{'To_Date' | translate}}</label>
                            <div class="col-sm-7 form-group">
                                <input type="text" id="ToDate" name="ToDate" style="padding-left:7px !important;" class="form-control paddingleft fontsize12" uib-datepicker-popup="dd/MM/yyyy"
                                       ng-model="TrackManifest.ToDate" is-open="status1.opened" readonly
                                       close-text="Close" ng-click="openCalender1($event)"
                                       placeholder="{{'To_Date' | translate}}" />
                            </div>
                            <div class="col-sm-1 paddingboth dated-fix">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" style="padding:6px 14px !important;" ng-click="openCalender1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-12">
                        <div class="form-group pull-left">
                            <div><button ng-click="CustomerCreateManifest ()" class="btn-simple btn-success fontsize12" style="padding:6px 6px !important;"><i class="fa fa-list-ol" aria-hidden="true"></i> {{'Create_Manifest' | translate}}</button></div>
                        </div>

                        <div class="pull-right form-group">
                            <button class="btn-simple btn-primary fontsize12 right-19" ng-click="GetManifest('Search')"><i class="fa fa-search" aria-hidden="true"></i> {{'Search' | translate}}</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>


            <div class="clearfix"></div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
<br />

<div data-ui-grid="gridOptions" ui-grid-edit ui-grid-selection ui-grid-cellnav class="myGridFull fontsize12 overflow-y" style="min-height: {{gridheight}}px;"></div>
<div style="margin-left:-15px;">
    <ul uib-pagination boundary-links="true" total-items="totalItemCount" ng-change="pageChanged(track)" ng-model="TrackManifest.CurrentPage" items-per-page="TrackManifest.TakeRows" max-size="maxSize" num-pages="numPages" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
</div>
