<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!--<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>-->
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!--For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468-->
  </configSections>
  <connectionStrings>
    <add name="FrayteEntities" connectionString="metadata=res://*/DataAccess.FrayteDB.csdl|res://*/DataAccess.FrayteDB.ssdl|res://*/DataAccess.FrayteDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER;initial catalog=FrayteLogisticDirectLiveIdentity ;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="FrayteEntities" connectionString="metadata=res://*/DataAccess.FrayteDB.csdl|res://*/DataAccess.FrayteDB.ssdl|res://*/DataAccess.FrayteDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER-01\MSSQLSERVER14;initial catalog=FrayteLogisticDirecteCommerceApp;user id=sa;password=FrayteDB#15;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="FrayteEntities" connectionString="metadata=res://*/DataAccess.FrayteDB.csdl|res://*/DataAccess.FrayteDB.ssdl|res://*/DataAccess.FrayteDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=119.9.110.197;initial catalog=FrayteLogisticDirecteCommerceApp;user id=sa;password=FrayteDB#15;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <!--<add key="OwnerMail" value="anil.kumar@irasyssolutions.com" />-->
    <!--<add key="EasyPostKey" value="UFdsAzCOa1npbq02GL44ww" />-->
    <add key="ShipmentCreatedFrom" value="BATCH" />
    <add key="ApplicationMode" value="Live" />
    <add key="WebApiPath" value="D:\ProjectFrayte\Frayte\Frayte.WebApi\" />
    <!--<add key="OpearationZone" value="1#HKG" />-->
    <add key="ErrorLoger" value="D:\FrayteLogistic"/>
    <add key="OpearationZone" value="2#GBR" />
    <add key="LabelReadFrom" value="WebApi"/>
    <add key="LabelFolder" value="D:\ProjectFrayte\Frayte\Frayte.WebApi\PackageLabel\" />
    <add key="EasyPostKey" value="3KV8u5AMd0pS2636byjSnA" />
    <add key="eCommerceLabelFolder" value="~/PackageLabel/eCommerce/" />
    <add key="eCommerceUploadShipmentLabelFolder" value="D:\ProjectFrayte\FrayteUploadShipmentSchedular\FrayteUploadShipmentSchedular\FrayteUploadShipmentSchedular\PackageLabel\eCommerce\" />
    <add key="eCommerceUploadLabelFolder" value="D:\ProjectFrayte\Frayte\Frayte.WebApi\PackageLabel\eCommerce\" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>