<section class="title-bar img-blog transparent-bg-secondary bottom8">
    <div class="transparent-bg-secondary-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h1>{{'Fuel_Surcharge' | translate}}</h1>
                </div>
            </div>
        </div>
    </div><div class="transparent-bg-secondary-layer"></div>
</section>
<div class="clearfix"></div>
<div class="fullwidthNoBackground">
    <br /><br />
    <div class="container fuelSurcharge">
        <div>
            <p style="margin:0 0 20px !important;">
                {{'Increased_Overall_Costs' | translate}}
            </p>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="panel">
                    <div ng-if="OperationZone.OperationZoneId ===1">
                        <div class="panel-heading">
                            <div class="col-xs-4">{{'Last_3_Month' | translate}}</div>
                            <div class="col-xs-4">{{'COURIER' | translate}}</div>
                            <div class="col-xs-4">{{'EXPRYES' | translate}}</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body" ng-hide="val">
                            <div ng-repeat="fuelCharge in FuelSurCharges">
                                <div class="col-xs-4">{{getFuelMonthYear(fuelCharge.FuelMonthYear)}} </div>
                                <div class="col-xs-4">{{fuelCharge.FrayteFuelPercent}} %</div>
                                <div class="col-xs-4">{{fuelCharge.ExpryeFuelPercent}} %</div>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>
                    <div ng-if="OperationZone.OperationZoneId ===2">
                        <div class="panel-heading">
                            <div class="col-xs-3">{{'Last_3_Month' | translate}}</div>
                            <div class="col-xs-3">{{'COURIER' | translate}}</div>
                            <div class="col-xs-2">{{'EXPRYES' | translate}}</div>
                            <div class="col-xs-2">{{'Road_Fuel' | translate}}</div>
                            <div class="col-xs-2">{{'UK_DOMESTIC' | translate}}</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body" ng-hide="val">
                            <div ng-repeat="fuelCharge in FuelSurCharges">
                                <div class="col-xs-3">{{getFuelMonthYear(fuelCharge.FuelMonthYear)}} </div>
                                <div class="col-xs-3">{{fuelCharge.FrayteFuelPercent}} %</div>
                                <div class="col-xs-2">{{fuelCharge.ExpryeFuelPercent}} %</div>
                                <div class="col-xs-2">{{fuelCharge.RoadFuelPercent}} %</div>
                                <div class="col-xs-2">{{fuelCharge.DomesticFuelPercent}} %</div>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <p>{{'Continuingrise_fuelprices' | translate}}</p>
    </div>
    <br /><br />
</div>