<br/>
<div class="container">
    <div class="panel-group">
        <!--One Collapseable Start Here-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="pointer" data-toggle="collapse"  ng-click="isCollapsed1 = !isCollapsed1">Have you received an invoice for the first time</a>
                </h4>
            </div>
            <div uib-collapse="isCollapsed1" ng-init="isCollapsed1 = true" class="panel-collapse collapse">
                <div class="panel-body">Have you received an invoice for the first time..</div>
            </div>
        </div>
        <!--End-->
        <!--Two Collapseable Start Here-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="pointer" data-toggle="collapse" ng-click="isCollapsed2 = !isCollapsed2">Your charges explained</a>
                </h4>
            </div>
            <div uib-collapse="isCollapsed2" ng-init="isCollapsed2 = true" class="panel-collapse collapse">
                <div class="panel-body">Your charges explained....</div>
            </div>
        </div>
        <!--End-->
        <!--Three Collapseable Start Here-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="pointer" data-toggle="collapse" ng-click="isCollapsed3 = !isCollapsed3">Receiving Shipments</a>
                </h4>
            </div>
            <div uib-collapse="isCollapsed3" ng-init="isCollapsed3 = true" class="panel-collapse collapse">
                <div class="panel-body">Receiving Shipments....</div>
            </div>
        </div>
        <!--End-->
        <!--Four Collapseable Start Here-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="pointer" data-toggle="collapse" ng-click="isCollapsed4 = !isCollapsed4">About Duty</a>
                </h4>
            </div>
            <div uib-collapse="isCollapsed4" ng-init="isCollapsed4 = true" class="panel-collapse collapse">
                <div class="panel-body">About Duty....</div>
            </div>
        </div>
        <!--End-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="pointer" data-toggle="collapse" ng-click="isCollapsed5 = !isCollapsed5">About VAT</a>
                </h4>
            </div>
            <div uib-collapse="isCollapsed5" ng-init="isCollapsed5 = true" class="panel-collapse collapse">
                <div class="panel-body">About VAT....</div>
            </div>
        </div>
             <!--Five Collapseable Start Here-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="pointer" data-toggle="collapse" ng-click="isCollapsed6 = !isCollapsed6">Buying Goods from other European Union (EU) Countries</a>
                </h4>
            </div>
            <div uib-collapse="isCollapsed6" ng-init="isCollapsed6 = true" class="panel-collapse collapse">
                <div class="panel-body">Buying Goods from other European Union (EU) Countries....</div>
            </div>
        </div>
        <!--End-->
        <!--Six Collapseable Start Here-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="pointer" data-toggle="collapse" ng-click="isCollapsed7 = !isCollapsed7">Still have a query?</a>
                </h4>
            </div>
            <div uib-collapse="isCollapsed7" ng-init="isCollapsed7 = true" class="panel-collapse collapse">
                <div class="panel-body">Still have a query?....</div>
            </div>
        </div>
        <!--End-->
    </div>

</div>


