<!DOCTYPE html>
<html>
<head>
    <title></title>
<style>
 p{
margin:0px !important;
}
</style>
</head>
<body style="margin: 0; padding: 0; background: #fff; font-family: calibri, sans-serif;padding:10px 20px;">
    <header>
         <div style="height: 70px; background: #fff !important; text-align: left;">
            <img src="cid:@ViewBag.ImageHeader" />
        </div>
    </header>
		<br/>
		<table style="border-spacing: 0px;">
			<tr><td style="font-family: calibri, sans-serif;">Dear <b>Nathan Phipps</b>,</td></tr>
			<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
            <tr><td  style="font-family: calibri, sans-serif;">We are pleased to inform you that the following shipment has been created. See consignment summary below.</td></tr>  
			<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
			</table>
			<br />
            <table style="border-spacing: 0px;">
					<tr><td style="font-family: calibri, sans-serif;"><b>Consignment No#:</b> <span><a href="#">Consignment No-377129914-58967463</a></span></td></tr>
					<tr><td style="font-family: calibri, sans-serif;"><b>&nbsp;</b></td></tr>
				    <tr><td style="font-family: calibri, sans-serif;"><b>Shipment Service:</b> <span>DHL (Express)</span></td></tr>					
                    <tr><td style="font-family: calibri, sans-serif;"><b>Shipment Reference:</b> <span>Clothes</span></td></tr>
            </table>
            <br />
            <table style="border-spacing: 0px;">
                <tr><td style="font-family: calibri, sans-serif;"><b>Collection Address (Shipper) Details</b></td></tr>
				<tr><td style="font-family: calibri, sans-serif;">Ryan Adam</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">Kyo Pvt. Ltd.</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">Unit 11 SA1 Industrial Park</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">Road</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">Swansea</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">SA1 8QY</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">United Kingdom</td></tr>		
            </table>
			<br/>

        <table style="border-spacing: 0px;">
                <tr><td style="font-family: calibri, sans-serif;"><b>Delivery Address (Consignee) Details</b></td></tr>
				<tr><td style="font-family: calibri, sans-serif;">Nathan Phippss</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">White Pvt. Ltd.</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">3 Tampines Central</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">Singapore, 529540</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>		
            </table>

			<br />
			
			<table style="border-spacing: 0px;">
			<tr><td style="font-family: calibri, sans-serif;"><b>Total Cartons:</b> <span>1</span></td></tr>
			<tr><td style="font-family: calibri, sans-serif;"><b>Estimated Weight*:</b> <span>15.00 Kgs</span></td></tr>
			<tr><td style="font-family: calibri, sans-serif;"><b>Created On:</b> <span>15-Dec-2018</span></td></tr>
			<tr><td style="font-family: calibri, sans-serif;"><b>&nbsp;</b></td></tr>
			<tr><td style="font-family: calibri, sans-serif;"><b>Note*:</b> <span>Actual weight may differ to the estimated weight, therefore total estimated charges may vary depending on actual billable weight.</span></td></tr>
			</table>
			<br />
			<table style="font-size:12px;border-spacing: 0px;">
				<tr><td style="font-family: calibri, sans-serif;">Should you have any questions or concerns, please feel free to contact us.</td></tr>
			</table>
			<br/>
			 <table style="border-spacing: 0px;">
				<tr><td style="font-family: calibri, sans-serif;">Kind Regards,</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
                <tr><td style="font-family: calibri, sans-serif;">Nui Sarouiket</td></tr>
				<tr><td style="font-family: calibri, sans-serif;"><b>Support Service Manager</b></td></tr>
                <tr><td style="font-family: calibri, sans-serif;"><b>FRAYTE GLOBAL</b></td></tr>
                <tr><td style="font-family: calibri, sans-serif;"><b>Email:</b>&nbsp;nui@fraye.com</td></tr>
                <tr><td style="font-family: calibri, sans-serif;"><b>Phone:</b>&nbsp;(+852) 2148 4881</td></tr>
                <tr><td style="font-family: calibri, sans-serif;"><a href="@Model.SiteAddress">www.FRAYTE.com</a></td></tr>
				<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
			</table>
	<br/>
    <footer>
        <table style="font-size: 12px;border-spacing: 0px;">
            <tr><td style="font-family: calibri, sans-serif;">FRAYTE GLOBAL All rights reserved.</td></tr>
			</table>
    </footer>
	
</body>
</html>