

<section>
    <div class="modal-header clearfix">
        <button type="button" class="close" ng-click="$dismiss()"><i class="fa fa-times-circle-o" aria-hidden="true" style="font-size:30px;"></i></button>
        <h4 class="modal-title">Product Catalog</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="col-sm-4 paddingleft">
                <input type="text" class="form-control" placeholder="Search Product Catalog"/>
            </div>
             <button type="button" ng-click="editProductCatalog('add')" class="btn-simple btn-save"><i class="fa fa-plus"></i> Add New Product Catalog</button>
        </div>
        <div class="panel panel-default marginBottomZero">
            <div class="width100 flex  grid-background">
                <div class="width986 flex">
                    <div class="width4 text-center quotation-table-padding padding-10-5"><input type="checkbox" name="check" /></div>
                    <div class="width10 bold quotation-table-padding"><span class="quotation-table-body padding-10-5">Name</span></div>
                    <div class="width10 bold quotation-table-padding"><span class="quotation-table-body padding-10-5">Carton (QTY)</span></div>
                    <div class="width10 bold quotation-table-padding"><span class="quotation-table-body padding-10-5">Length (cm)</span></div>
                    <div class="width10 bold quotation-table-padding"><span class="quotation-table-body padding-10-5">Width (cm)</span></div>
                    <div class="width10 bold quotation-table-padding"><span class="quotation-table-body padding-10-5">Height (cm)</span></div>
                    <div class="width10 bold quotation-table-padding"><span class="quotation-table-body padding-10-5">Weight (kgs)</span></div>
                    <div class="width26 bold quotation-table-padding"><span class="quotation-table-body padding-10-5">Shipment Content</span></div>
                    <div class="width10 bold quotation-table-padding" style="border-right:none;"><span class="quotation-table-body padding-10-5"></span></div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="get-service-scroll" id="fix-get-service-alternate-color">
                <div class="panel-body padding0">
                    <ul class="list-unstyled change margin-bottom-none">
                        <li>
                            <div class="width100 pointer">
                                <div class="flex height30">
                                    <div class="width4 quotation-table-body word-wrap padding-5 text-center border-right"><input type="checkbox" name="check" /></div>
                                    <div class="width10 quotation-table-body padding-5 border-right"><span>Polo Tshirt</span></div>
                                    <div class="width10 quotation-table-body word-wrap padding-5 border-right"><span>2</span></div>
                                    <div class="width10 quotation-table-body word-wrap padding-5 border-right"><span>2</span></div>
                                    <div class="width10 quotation-table-body padding-5 word-wrap border-right"><span>2</span></div>
                                    <div class="width10 quotation-table-body word-wrap padding-5 border-right"><span>2</span></div>
                                    <div class="width10 quotation-table-body word-wrap padding-5 border-right"><span>2</span></div>
                                    <div class="width26 quotation-table-body word-wrap padding-5 border-right"><span>Large Size Polo Tshirt</span></div>
                                    <div class="width10 quotation-table-body padding0 text-center">
                                        <div class="btn-group" uib-dropdown dropdown-append-to-body>
                                            <a id="btn-append-to-to-body" href="" uib-dropdown-toggle ng-disabled="disabled" class="text-center pointer width100 action-font-family padding-5 margin-bottom-none">{{'Actions' | translate}} <span class="caret"></span></a>
                                            <ul class="fix-dropdown-overlay" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                                                <li ng-click="editProductCatalog('add')">
                                                    <a href="">
                                                        <span class="padEdit"><i class="fa fa-plus"></i></span>
                                                        <span>Add Product Catalog</span>
                                                    </a>
                                                </li>
                                                <li ng-click="editProductCatalog('edit')">
                                                    <a href="">
                                                        <span class="padEdit"><i class="fa fa-edit"></i></span>
                                                        <span>Edit Product Catalog</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="width100 pointer">
                                <div class="flex height30">
                                    <div class="width4 quotation-table-body word-wrap padding-5 text-center border-right"><input type="checkbox" name="check" /></div>
                                    <div class="width10 quotation-table-body padding-5 border-right"><span>Polo Tshirt</span></div>
                                    <div class="width10 quotation-table-body word-wrap padding-5 border-right"><span>2</span></div>
                                    <div class="width10 quotation-table-body word-wrap padding-5 border-right"><span>2</span></div>
                                    <div class="width10 quotation-table-body padding-5 word-wrap border-right"><span>2</span></div>
                                    <div class="width10 quotation-table-body word-wrap padding-5 border-right"><span>2</span></div>
                                    <div class="width10 quotation-table-body word-wrap padding-5 border-right"><span>2</span></div>
                                    <div class="width26 quotation-table-body word-wrap padding-5 border-right"><span>Large Size Polo Tshirt</span></div>
                                    <div class="width10 quotation-table-body padding0 text-center">
                                        <div class="btn-group" uib-dropdown dropdown-append-to-body>
                                            <a id="btn-append-to-to-body" href="" uib-dropdown-toggle ng-disabled="disabled" class="text-center pointer width100 action-font-family padding-5 margin-bottom-none">{{'Actions' | translate}} <span class="caret"></span></a>
                                            <ul class="fix-dropdown-overlay" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                                                <li ng-click="editProductCatalog('add')">
                                                    <a href="">
                                                        <span class="padEdit"><i class="fa fa-plus"></i></span>
                                                        <span>Add Product Catalog</span>
                                                    </a>
                                                </li>
                                                <li ng-click="editProductCatalog('edit')">
                                                    <a href="">
                                                        <span class="padEdit"><i class="fa fa-edit"></i></span>
                                                        <span>Edit Product Catalog</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="width100 pointer">
                                <div class="flex height30">
                                    <div class="width4 quotation-table-body word-wrap padding-5 text-center border-right"><input type="checkbox" name="check" /></div>
                                    <div class="width10 quotation-table-body padding-5 border-right"><span>Polo Tshirt</span></div>
                                    <div class="width10 quotation-table-body word-wrap padding-5 border-right"><span>2</span></div>
                                    <div class="width10 quotation-table-body word-wrap padding-5 border-right"><span>2</span></div>
                                    <div class="width10 quotation-table-body padding-5 word-wrap border-right"><span>2</span></div>
                                    <div class="width10 quotation-table-body word-wrap padding-5 border-right"><span>2</span></div>
                                    <div class="width10 quotation-table-body word-wrap padding-5 border-right"><span>2</span></div>
                                    <div class="width26 quotation-table-body word-wrap padding-5 border-right"><span>Large Size Polo Tshirt</span></div>
                                    <div class="width10 quotation-table-body padding0 text-center">
                                        <div class="btn-group" uib-dropdown dropdown-append-to-body>
                                            <a id="btn-append-to-to-body" href="" uib-dropdown-toggle ng-disabled="disabled" class="text-center pointer width100 action-font-family padding-5 margin-bottom-none">{{'Actions' | translate}} <span class="caret"></span></a>
                                            <ul class="fix-dropdown-overlay" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                                                <li ng-click="editProductCatalog('add')">
                                                    <a href="">
                                                        <span class="padEdit"><i class="fa fa-plus"></i></span>
                                                        <span>Add Product Catalog</span>
                                                    </a>
                                                </li>
                                                <li ng-click="editProductCatalog('edit')">
                                                    <a href="">
                                                        <span class="padEdit"><i class="fa fa-edit"></i></span>
                                                        <span>Edit Product Catalog</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--end code-->
    </div>
    <div class="clearfix"></div>
    <div class="modal-footer">
        <div class="col-sm-12 paddingboth clearfix">
            <!--<div class="pull-left">
                <button type="button" ng-click="$dismiss()" class="btn-simple btn-cancel fontsize12"><i class="fa fa-times" aria-hidden="true"></i> Edit</button>
            </div>-->
            <div class="pull-right">
                <button type="button" ng-click="$dismiss()" class="btn-simple btn-save fontsize12"><i class="fa fa-save" aria-hidden="true"></i> Save</button>
            </div>
        </div>
    </div>
</section>
