
<div class="modal-header">
    <button type="button" class="close" ng-click="submit()"><i class="fa fa-times-circle-o" aria-hidden="true" style="font-size:30px;"></i></button>
    <h4 class="modal-title">{{'HS_Codes' | translate}}</h4>
</div>
<div class="modal-body">

    <!--shipment reference details-->
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>{{'confirmShp_ShipmentDetail' | translate}}</strong></div>
                <div class="panel-body">


                    <div>
                        <div class="col-sm-12 paddingboth" style="padding: 7px 0px 5px;">
                            <div class="col-sm-5 paddingboth"><b>{{'Frayte_ShipmentNo' | translate}}:</b></div>
                            <div class="col-sm-7 paddingboth underline">
                                <span ng-show="eCommerceBookingDetail.Packages[0].TrackingNo !== null && eCommerceBookingDetail.Packages[0].TrackingNo !==''">
                                    <a target="_blank" ui-sref="home.tracking-hub({carrierType:TrackingType,trackingId:eCommerceBookingDetail.Packages[0].TrackingNo})">
                                        {{eCommerceBookingDetail.Packages[0].TrackingNo}}
                                    </a>
                                </span> - {{eCommerceBookingDetail.FrayteNumber}}
                            </div>
                        </div>
                        <div class="col-sm-12 paddingboth" style="padding: 7px 0px 5px;">
                            <div class="col-sm-5 paddingboth"><b>{{'Parcel_Type' | translate}}:</b></div>
                            <div class="col-sm-7 paddingboth">{{eCommerceBookingDetail.ParcelType.ParcelType}}</div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12 paddingboth" style="padding: 7px 0px 5px;">
                            <div class="col-sm-5 paddingboth"><b>{{'Declared_Currency' | translate}}:</b></div>
                            <div class="col-sm-7 paddingboth">{{eCommerceBookingDetail.Currency.CurrencyCode}}</div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12 paddingboth" style="padding: 7px 0px 5px;">
                            <div class="col-sm-5 paddingboth"><b>{{'PaymentParty_TaxandDuties' | translate}}:</b></div>
                            <div class="col-sm-7 paddingboth">{{eCommerceBookingDetail.PayTaxAndDuties}}</div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12 paddingboth" style="padding: 7px 0px 5px;" ng-show="eCommerceBookingDetail.PayTaxAndDuties === 'Shipper'">
                            <div class="col-sm-5 paddingboth" style="font-weight:bold;"><b>{{'TaxDuty_Accepted' | translate}}:</b></div>
                            <div class="col-sm-7 paddingboth">{{eCommerceBookingDetail.TaxAndDutiesAcceptedBy}}</div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>

        <div class="clearfix"></div>
    </div>

    <section>
        <div class="col-sm-12 paddingboth">
            <div class="col-sm-6 paddingboth">
                <h4 class="padding-tb-5">{{'Shipment_PkgDetail' | translate}}</h4>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="piecesDetailTable">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="width100 flex">
                    <div class="colHeader width4"><span class="visibility">Hidden</span></div>
                    <div class="colHeader width9"><span>{{'Carton_Value' | translate}}</span></div>
                    <div class="colHeader width9"><span>{{'Length' | translate}}<br /><small>({{CMInchs}})</small></span></div>
                    <div class="colHeader width9"><span>{{'Width' | translate}}<br /><small>({{CMInchs}})</small></span></div>
                    <div class="colHeader width9 "  style="border-right:2px solid #ddd;"><span>{{'Height' | translate}}<br /><small>({{CMInchs}})</small></span></div>
                    <div class="colHeader width9 "  style="border-right:2px solid #ddd;"><span>{{'Weight' | translate}}<br /><small>({{KgLb}})</small></span></div>
                    <div class="colHeader width9 "><span>{{'Declared_Value' | translate}}<br /><small>({{eCommerceBookingDetail.Currency.CurrencyCode}})</small></span></div>
                    <div class="colHeader width21 "><span>{{'shipment_PieceDetailsHSCode' | translate}}</span></div>
                    <div class="colHeader width21 " style="border-right:none;"><span>{{'Shipment_Content' | translate}}<br /><small></small></span></div>
                    <div class="clearfix"></div>
                    </div>
                </div>
                <div class="panel-body">
                    <div ng-repeat="Pakage in eCommerceBookingDetail.Packages">
                        <div ng-click="alerMethod(Pakage)">
                            <div class="width100 flex f5f5f5">
                                <div class="width4"  style="border-right:1px solid #ddd;">
                                <i ng-if="Pakage.IsHSCodeSet" class="fa fa-thumbs-o-up fa-14 greenClass thumbs-in-hscodes" aria-hidden="true"></i>
                                    <i ng-show="!Pakage.IsHSCodeSet" class="fa fa-thumbs-up fa-14  thumbs-in-hscodes" aria-hidden="true"></i>
                                </div>
                                <div class="colHeader width9 " ng-class="{'demoClass':Pakage.IsSelected}"><label class="middle">{{Pakage.CartoonValue}}</label></div>
                                <div class="colHeader width9 " ng-class="{'demoClass':Pakage.IsSelected}"><label class="middle">{{Pakage.Length}}</label></div>
                                <div class="colHeader width9 " ng-class="{'demoClass':Pakage.IsSelected}"><label class="middle">{{Pakage.Width}}</label></div>
                                <div class="colHeader width9" style="border-right:2px solid #ddd;" ng-class="{'demoClass':Pakage.IsSelected}"><label class="middle">{{Pakage.Height}}</label></div>
                                <div class="colHeader width9"  style="border-right:2px solid #ddd;" ng-class="{'demoClass':Pakage.IsSelected}"><label class="middle">{{Pakage.Weight}}</label></div>
                                <div class="colHeader width9 " ng-class="{'demoClass':Pakage.IsSelected}"><label class="middle">{{Pakage.Value}}</label></div>
                                <div class="colHeader width21 padding-lr-15" ng-class="{'demoClass':Pakage.IsSelected}">
                                    <input type="text" ng-model="Pakage.HSCode" class="form-control" uib-typeahead-min-length="3" ng-change="detectHSCodeChange(Pakage, 'HSCode')" 
                                      uib-typeahead="hsCode.Description as hsCode.HSCode +' - '+ hsCode.Description   for hsCode in getHSCodes($viewValue,'HSCode')" 
                                       typeahead-loading="loadingLocations"  typeahead-on-select= "onSelect($item, $model, $label, $event,Pakage)"/>                               
                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>                                   
                                </div>
                                <div class="colHeader width21 padding-lr-15" ng-class="{'demoClass':Pakage.IsSelected}">
                                <textarea  ng-model="Pakage.Content" class="form-control"  uib-typeahead-min-length="3"  ng-change="detectHSCodeChange(Pakage, 'Content')"
                                        placeholder="Content description" uib-typeahead="hsCode.Description as hsCode.HSCode +' - '+ hsCode.Description   for hsCode in getHSCodes($viewValue,'HSDescription')" 
                                       typeahead-loading="loadingLocations"  typeahead-on-select= "onSelect($item, $model, $label, $event,Pakage)" cols="1" rows="2">

                                </textarea>
                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>                                
                                 </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>

    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="modal-footer">
    <div class="text-right">
        <button type="button" ng-click="submit()" class="btn btn-cancel fontsize12" style="padding:6px 12px 6px !important;"><i class="fa fa-times" aria-hidden="true"></i> {{'Close_Window' | translate}}</button>
    </div>
</div>

