<br /><br /><br />
<section id="login">
<toaster-container></toaster-container>
<section ng-if="Site_Company === 'FRAYTE'">
    <!--start forget password code here-->
    <section class="form-center" style="height:386px;">
        <a class="pointer" ng-click="HomeState()">
            <span ng-if="IsSiteCountry==='COM'"><img ng-src="{{ImagePath + 'FrayteHK.png'}}" class="frayte-login-logo" /></span>
            <span ng-if="IsSiteCountry==='CO.UK'"><img ng-src="{{ImagePath + 'FrayteUK.png'}}" class="frayte-login-logo" /></span>
        </a>
        <section>
            <div class="form-group">
                <h3>{{'ForgotPassword' | translate}}</h3>
            </div>
            <form name="ForgetPasswordForm" ng-submit="submit(ForgetPasswordForm.$valid, recover)" novalidate>
                <div class="form-group">
                    <span>{{'ForgotPasswordSubText' | translate}}</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': ForgetPasswordForm.Email.$invalid &&
                                                         (ForgetPasswordForm.Email.$dirty  || submitted) }">
                    <!--<label class="control-label bold" for="Email">{{'Email' | translate}} {{'Address' | translate}}</label>-->
                    <div>
                        <!--<span class="icon-fix"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>-->
                        <span class="icon-fix"><img class="fa fa-username" ng-src="{{ImagePath + 'username.png'}}"></span>
                        <input type="text" class="form-control input-padding" id="Email" name="Email" ng-model="recover.Email" placeholder="{{'UsernameOrAccountID' | translate}}" required />
                        <span class="help-block has-error"
                              ng-show="ForgetPasswordForm.Email.$invalid &&
                           (ForgetPasswordForm.Email.$dirty  || submitted)">
                            {{'User_Email_Required' | translate}}
                        </span>
                    </div>
                </div>
                <div class="col-sm-12 paddingboth form-group">
                    <div class="col-sm-6 paddingleft">
                        <button type="button" class="btn-simple btn-cancel form-control fontsize12 login-padding" ng-click="cancel()"><b><i class="fa fa-times" aria-hidden="true"> </i> {{'Cancel' | translate}}</b></button>
                    </div>
                    <div class="col-sm-6 paddingboth">
                        <button type="submit" ng-click="submitted=true" class="btn-simple btn-save form-control fontsize12 login-padding"><b><i class="fa fa-envelope-o" aria-hidden="true"></i> {{'Send' | translate}} {{'Email' | translate}}</b></button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </section>
    </section>
    <!-- end forget password code-->
    <br /><br /><br />
    <!--start translation code here-->
    <section class="form-center-language">
        <div style="margin-top:90px;position:relative;">
            <div class="col-sm-12 col-xs-12 paddingboth xs-footerCenter fontsize13 text-center">
                <button ng-click="changeLanguage('en')" class="btn btn-link " ng-disabled="isDisabled1" style="padding:2px 4px;"><img ng-src="{{ImagePath + 'en.png'}}" style="margin-right:5px;" />{{'BUTTON_LANG_EN' | translate}} </button>
                <button ng-click="changeLanguage('chSim')" class="btn btn-link " ng-disabled="isDisabled2" style="padding:2px 4px;"><img ng-src="{{ImagePath + 'ch.png'}}" style="margin-right:5px;" />{{'BUTTON_LANG_CH' | translate}} </button>
                <button ng-click="changeLanguage('chTrad')" class="btn btn-link" ng-disabled="isDisabled3" style="padding:2px 4px;"><img ng-src="{{ImagePath + 'hkong.png'}}" style="margin-right:5px;" />{{'BUTTON_LANG_TD' | translate}} </button>
                <button ng-click="changeLanguage('th')" class="btn btn-link fontsize12" ng-disabled="isDisabled4" style="padding:2px 4px;"><img ng-src="{{ImagePath + 'th.png'}}" style="margin-right:5px;" />{{'BUTTON_LANG_TH' | translate}}</button>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
    <!--end translation code-->
</section>
<div class="clearfix"></div>
<br />
<!--start footer code here-->
<section ng-if="Site_Company === 'FRAYTE'">
    <div class="container center">
        <div class="col-sm-12 col-xs-12 xs-footerCenter top3">
            <div>
                <div><img ng-src="{{ImagePath + 'favicon.ico'}}" class="frayte-footer-icon" /> <span class="word-break">&copy; {{'2018' | translate}} <span ng-if="IsSiteCountry==='COM'">{{'FRAYTE_HK' | translate}}</span><span ng-if="IsSiteCountry==='CO.UK'">{{'FRAYTE_UK' | translate}}</span>. {{'AllRightsReserved' | translate}}. &nbsp;&nbsp;&nbsp;&nbsp; <a ng-click="setScroll('top')" ui-sref='public.term-and-condition' class="fontsize13">{{'TermsAndCondition' | translate}}</a>  | <a ng-click="setScroll('top')" ui-sref='public.privacyPolicy' class="fontsize13">{{'Privacy_Policy' | translate}}</a> </span></div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</section>
<!--end footer code-->

<section ng-if="Site_Company === 'MAXLOGISTIC'">
    <!--start forget password code here-->
    <section class="form-center" style="height:386px;">
        <a class="pointer" ng-click="HomeState()"> <img ng-src="{{ImagePath + 'MexLogo.png'}}" class="frayte-login-logo" /></a>
        <section>
            <div class="form-group">
                <h3>{{'ForgotPassword' | translate}}</h3>
            </div>
            <form name="ForgetPasswordForm" ng-submit="submit(ForgetPasswordForm.$valid, recover)" novalidate>
                <div class="form-group">
                    <span>{{'ForgotPasswordSubText' | translate}}</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': ForgetPasswordForm.Email.$invalid &&
                                                         (ForgetPasswordForm.Email.$dirty  || submitted) }">
                    <!--<label class="control-label bold" for="Email">{{'Email' | translate}} {{'Address' | translate}}</label>-->
                    <div>
                        <!--<span class="icon-fix"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>-->
                        <span class="icon-fix"><img class="fa fa-username" ng-src="{{ImagePath + 'username.png'}}"></span>
                        <input type="text" class="form-control input-padding" id="Email" name="Email" ng-model="recover.Email" placeholder="{{'UsernameOrAccountID' | translate}}" required />
                        <span class="help-block has-error"
                              ng-show="ForgetPasswordForm.Email.$invalid &&
                           (ForgetPasswordForm.Email.$dirty  || submitted)">
                            {{'User_Email_Required' | translate}}
                        </span>
                    </div>
                </div>
                <div class="col-sm-12 paddingboth form-group">
                    <div class="col-sm-6 paddingleft">
                        <button type="button" class="btn-simple btn-cancel form-control fontsize12 login-padding" ng-click="cancel()"><b><i class="fa fa-times" aria-hidden="true"> </i> {{'Cancel' | translate}}</b></button>
                    </div>
                    <div class="col-sm-6 paddingboth">
                        <button type="submit" ng-click="submitted=true" class="btn-simple btn-save form-control fontsize12 login-padding"><b><i class="fa fa-envelope-o" aria-hidden="true"></i> {{'Send' | translate}} {{'Email' | translate}}</b></button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </section>
    </section>
    <!-- end forget password code-->
    <br /><br /><br />
    <!--start translation code here-->
     
    <!--end translation code-->
</section>
<div class="clearfix"></div>
<br />
<!--start footer code here-->
<section ng-if="Site_Company === 'MAXLOGISTIC'">
    <div class="container center">
        <div class="col-sm-12 col-xs-12 xs-footerCenter top3">
            <div>
                <div><img ng-src="{{ImagePath + 'favicon-maxlogistic.png'}}" class="frayte-footer-icon" />
                 <span class="word-break">&copy; {{'2018' | translate}} {{'Max' | translate}} {{'LogisticLTD' | translate}}. {{'AllRightsReserved' | translate}}. &nbsp;&nbsp;&nbsp;&nbsp; 
                    </span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</section>
<!--end footer code-->
</section>