
<section>
<div class="modal-content fontsize12 margin-bottom-none" style="border-color: #DBE2EC !important;">
    <!--header code-->
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss('cancel')"><i class="fa fa-times-circle-o" aria-hidden="true" style="font-size:30px;"></i></button>
        <h4 class="modal-title">{{'Jobs' | translate}} </h4>
    </div>
    <!--end-->
    <!--body code-->
    <div class="modal-body">
        <div class="col-sm-12">
            <!--start grid code here-->
            <div class="col-sm-8 paddingboth">
                <div data-ui-grid="gridOptions" ui-grid-selection class="myGridFull fontsize12" style="min-height: {{gridheight}}px;"></div>
                <div class="col-sm-12 paddingboth">
                    <div class="col-sm-7 paddingboth">
                        <ul uib-pagination boundary-links="true" total-items="totalItemCount" ng-change="pageChanged(track)" ng-model="track.CurrentPage" items-per-page="track.TakeRows" max-size="maxSize" num-pages="numPages" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" style="padding:0px !important;"></ul>
                    </div>
                    <div class="col-sm-5 paddingboth top9">
                        <label for="show_job_per_page" class="col-sm-8 top5 text-right">{{'Show_Jobs_Per_Page' | translate}}</label>
                        <div class="col-sm-4 paddingboth">
                        <select class="form-control" ng-model="track.TakeRows" ng-options="num as num for num in numbers" ng-change="changePagination()"></select>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!--end grid code-->
            <!--start right side table code here-->
            <div class="col-sm-4 paddingboth">
                <div class="modal-body padding0">
                    <div class="col-sm-12 paddingright">
                        <div class="fontsize24 padding-tb-17 text-center border-ddd">{{'Operators' | translate}} ({{OperatorsWithJobs.length}})</div>
                        <div class="panel margin-bottom10 panel-default">
                            <div>
                                <div class="col-sm-12 paddingboth border-bottom-ddd backgroundf5f5f5 flex">
                                    <div class="width986 flex">
                                    <div class="col-sm-6 bold bordered-right padding-5">{{'Operator' | translate}}</div>
                                    <div class="col-sm-6 bold padding-5">{{'Jobs_Assigned' | translate}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body padding0">
                                <div class="col-sm-12 paddingboth jobs-overflow">
                                    <div ng-repeat="OpeartorJob in OperatorsWithJobs">
                                        <div class="col-sm-6 bordered-right padding-5"><div><a ng-click="operatorsJob(OpeartorJob.UserId)" class="pointer">{{OpeartorJob.Name}}</a></div></div>
                                        <div class="col-sm-6 padding-5"><div>{{OpeartorJob.JobsAssigned}}</div></div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12 paddingboth">
                    <div class="col-sm-8">
                        <select class="form-control" ng-model="OpeartorJob.OperatorId"
                                ng-options="operator.UserId as operator.Name for operator in Operators track by operator.UserId">
                            <option value="" disabled selected class="display-none">Select operator</option>
                        </select>
                    </div>
                    <div>
                        <button type="button" ng-click="AssignJobs()" class="btn-simple btn-primary col-sm-4"><i class="fa fa-user-o" aria-hidden="true"></i> {{'Assign' | translate}}</button>
                    </div>
                </div>
            </div>
            <!--end right side table code here-->
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!--end-->
    <!--footer code-->
    <div class="modal-footer">
        <div class="col-sm-12">
            <div class="pull-left">
                <button type="button" ng-click="$dismiss('cancel')" class="btn-simple btn-cancel fontsize12"><i class="fa fa-times" aria-hidden="true"></i> {{'Cancel' | translate}}</button>
            </div>
        </div>
    </div>
    <!--end-->
</div>
</section>