<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss('cancel')"><i class="fa fa-times-circle-o" aria-hidden="true" style="font-size:30px;"></i></button>
    <h4 class="modal-title">{{'Shipment' | translate}} {{'Errors' | translate}}</h4>
</div>
<br/>
<div class="overflow" style="margin-top:-20px; height:470px !important;">
    <div ng-if="FrayteError.Address.length>0">
        <div class="alert alert-danger marginBottomZero borderRadiusZero">
            <strong>{{'Address' | translate}} {{'Issue' | translate}}/{{'Section' | translate}} :</strong> {{'AddressRelated_Issue' | translate}}
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="error in FrayteError.Address">{{error}}.</li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
    <div ng-if="FrayteError.Package.length>0">
        <div class="alert alert-danger marginBottomZero borderRadiusZero">
            <strong>{{'Package' | translate}} {{'Issue' | translate}}/{{'Section' | translate}} :</strong> {{'PackageRelated_Issue' | translate}}
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="error in FrayteError.Package">{{error}}.</li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
    <div ng-if="FrayteError.Custom.length>0">
        <div class="alert alert-danger marginBottomZero borderRadiusZero">
            <strong>{{'Custom' | translate}} {{'Issue' | translate}}/{{'Section' | translate}} :</strong> {{'CustomRelated_Issue' | translate}}
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="error in FrayteError.Custom">{{error}}.</li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
    <div ng-if="FrayteError.Service.length>0">
        <div class="alert alert-danger marginBottomZero borderRadiusZero">
            <strong>{{'Service' | translate}} {{'Issue' | translate}}/{{'Section' | translate}} :</strong> {{'CourierRelated_Issue' | translate}}
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="error in FrayteError.Service">{{error}}.</li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
    <div ng-if="FrayteError.Miscellaneous.length>0">
        <div class="alert alert-danger marginBottomZero borderRadiusZero">
            <strong>{{'Miscelleneous' | translate}} {{'Issue' | translate}}/{{'Section' | translate}} :</strong> {{'MiscelleneousRelated_Issue' | translate}}
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="error in FrayteError.Miscellaneous">{{error}}.</li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning fontsize12" ng-click="$dismiss('cancel')"><i class="fa fa-check" aria-hidden="true"></i> {{'OK' | translate}}</button>
</div>
