
<section>
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()"><i class="fa fa-times-circle-o" aria-hidden="true" style="font-size:30px;"></i></button>
        <h4 class="modal-title">{{'MAWB_Service' | translate}}</h4>
    </div>
    <section>
        <div class="modal-body" id="prealert-mail">
            <div class="col-sm-12 paddingboth form-group bordered-left bordered-right">
                <!--first header column-->
                <div class="border-bottom bold">
                    <div class="col-sm-6 border-right-ddd">
                        <div class="col-sm-2 bordered-right">{{mAwbDetail.ShipmentDetail.AirlinePreference.AilineCode}}</div>
                        <div class="col-sm-4 bordered-right">{{mAwbDetail.ShipmentDetail.ShipFrom.Country.Name}}</div>
                        <div class="col-sm-6">{{mAwbDetail.MAWB}}</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-sm-6 paddingboth text-right">
                        <span class="padding-5">{{mAwbDetail.ShipmentDetail.AirlinePreference.AilineCode}} {{mAwbDetail.MAWB}}</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--end-->
                <!--shipper name & non-negotalble column column-->
                <div class="border-bottom flex">
                    <div class="col-sm-6 paddingboth border-right-ddd">
                        <div class="bold">
                            <div class="col-sm-6 text-center padding-5">{{'Shippers_Name_And_Address' | translate}}</div>
                            <div class="col-sm-6  text-center padding-5 bordered-left border-bottom">{{'Shippers_Account_Number' | translate}}</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="uppercase"> 
                            <div class="padding-5">{{mAwbDetail.ShipmentDetail.ShipFrom.CompanyName}}</div>
                            <div class="padding-5">{{mAwbDetail.ShipmentDetail.ShipFrom.Address}}</div>
                            <div ng-show="mAwbDetail.ShipmentDetail.ShipFrom.Address2" class="padding-5">{{mAwbDetail.ShipmentDetail.ShipFrom.Address2}},</div>
                            <div class="padding-5">{{mAwbDetail.ShipmentDetail.ShipFrom.City}} <span ng-show="mAwbDetail.ShipmentDetail.ShipFrom.PostCode">  {{mAwbDetail.ShipmentDetail.ShipFrom.PostCode}}</span></div>
                            <div ng-show="mAwbDetail.ShipmentDetail.ShipFrom.State" class="padding-5">{{mAwbDetail.ShipmentDetail.ShipFrom.State}}</div>
                            <div class="padding-5">{{mAwbDetail.ShipmentDetail.ShipFrom.Country.Name}} - {{mAwbDetail.ShipmentDetail.DepartureAirport.AirportCode}}</div>
                        </div>
                    </div>
                    <div class="col-sm-6 paddingboth">
                        <div class="padding-5 bold">{{'Non_Negotable' | translate}}</div>
                        <div class="border-bottom">
                            <div class="col-sm-4"><h3>{{'AirWayBill' | translate}}</h3></div>
                            <div class="col-sm-8">
                                <div class="padding-5 uppercase">{{mAwbDetail.ShipmentDetail.AirlinePreference.AirLineName}}</div>
                                <div class="padding-5"></div>
                                <div class="padding-5"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-sm-12 paddingboth">
                            <div class="col-sm-12 padding-5">{{'Airway_Bill_Copies' | translate}}</div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--end-->
                <!--consignee name & its agreement datail message-->
                <div class="border-bottom flex">
                    <div class="col-sm-6 paddingboth border-right-ddd">
                        <div class="bold">
                            <div class="col-sm-6 text-center padding-5">{{'Consignee_Name_And_Address' | translate}}</div>
                            <div class="col-sm-6  text-center padding-5 bordered-left border-bottom">{{'Consignee_Account_Number' | translate}}</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="uppercase"> 
                            <div class="padding-5">{{mAwbDetail.ShipmentDetail.ShipTo.CompanyName}}</div>
                            <div class="padding-5">{{mAwbDetail.ShipmentDetail.ShipTo.Address}}</div>
                            <div ng-show="mAwbDetail.ShipmentDetail.ShipTo.Address2" class="padding-5">{{mAwbDetail.ShipmentDetail.ShipTo.Address2}},</div>
                            <div class="padding-5">{{mAwbDetail.ShipmentDetail.ShipTo.City}} <span ng-show="mAwbDetail.ShipmentDetail.ShipTo.PostCode">  {{mAwbDetail.ShipmentDetail.ShipTo.PostCode}}</span></div>
                            <div ng-show="mAwbDetail.ShipmentDetail.ShipTo.State" class="padding-5">{{mAwbDetail.ShipmentDetail.ShipTo.State}}</div>
                            <div class="padding-5">{{mAwbDetail.ShipmentDetail.ShipTo.Country.Name}} - {{mAwbDetail.ShipmentDetail.DestinationAirport.AirportCode}}</div>
                        </div>
                    </div>
                    <div class="col-sm-6 paddingboth border-bottom">
                        <div class="padding-5">
                            <div> {{'Consignee_Message' | translate}}</div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--end-->
                <!--issuing carrirer agent name & city and accounting information-->
                <div class="border-bottom flex">
                    <div class="col-sm-6 paddingboth border-right-ddd">
                        <div class="uppercase border-bottom">
                            <div class="padding-5"><br /></div>
                            <div class="padding-5"><br /></div>
                            <div class="padding-5"><br /></div>
                            <div class="padding-5"><br /></div>
                        </div>
                        <div>
                            <div class="col-sm-6 text-center bordered-right border-bottom">
                                <div class="padding-5 bold">{{'Agents_IATA_Code' | translate}} </div>
                                <div class="padding-5"><br /></div>
                            </div>
                            <div class="col-sm-6  text-center bordered-left border-bottom">
                                <div class="padding-5 bold">{{'Account_No' | translate}}</div>
                                <div class="padding-5"><br /></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-sm-6 paddingboth border-bottom">
                        <div class="padding-5 bold">{{'Accounting_Information' | translate}}</div>
                        <div class="col-sm-12 paddingboth">
                            <div class="col-sm-12 paddingboth">
                                <div class="padding-5"> </div>
                                <div class="padding-5 uppercase"><span class="bold">{{'Notify' | translate}}:</span> </div>
                                <div class="uppercase">
                                    <div class="padding-5">{{mAwbDetail.ShipmentDetail.NotifyParty.CompanyName}}</div>
                                    <div class="padding-5">{{mAwbDetail.ShipmentDetail.NotifyParty.Address}}</div>
                                    <div ng-show="mAwbDetail.ShipmentDetail.NotifyParty.Address2" class="padding-5">{{mAwbDetail.ShipmentDetail.NotifyParty.Address2}},</div>
                                    <div class="padding-5">{{mAwbDetail.ShipmentDetail.NotifyParty.City}} <span ng-show="mAwbDetail.ShipmentDetail.NotifyParty.PostCode">  {{mAwbDetail.ShipmentDetail.NotifyParty.PostCode}}</span></div>
                                    <div ng-show="mAwbDetail.ShipmentDetail.NotifyParty.State" class="padding-5">{{mAwbDetail.ShipmentDetail.NotifyParty.State}}</div>
                                    <div class="padding-5">{{mAwbDetail.ShipmentDetail.NotifyParty.Country.Name}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--end-->
                <!--airport of departure and reference number with optional shipping information-->
                <div class="border-bottom flex">
                    <div class="col-sm-6 paddingboth border-right-ddd">
                        <div class="padding-5 bold">
                            {{'Airport_Departure_Requested_Routing' | translate}}
                        </div>
                        <div class="uppercase padding-5 fontsize24">{{mAwbDetail.ShipmentDetail.NotifyParty.Country.Name}}</div>
                    </div>
                    <div class="col-sm-6 paddingboth">
                        <div class="flex bold">
                            <div class="col-sm-3 padding-5 bordered-right"><div>{{'Reference_Number' | translate}}</div></div>
                            <div class="col-sm-6 padding-5 bordered-right border-bottom text-center"><div>{{'Optional_Shipping_Information' | translate}}</div></div>
                            <div class="col-sm-3 padding-5"><div></div></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="border-bottom flex">
                            <div class="col-sm-4 bordered-right"><p><br /></p><p><br /></p></div>
                            <div class="col-sm-4 bordered-right"><p><br /></p><p><br /></p></div>
                            <div class="col-sm-4"><p><br /></p><p><br /></p></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--end-->
                <!--to, by first carrier and currency WT/VAL code start-->
                <div class="border-bottom flex">
                    <div class="col-sm-6 paddingboth border-right-ddd">
                        <div class="text-center fontsize12 bold flex">
                            <div class="col-sm-1 paddingboth padding-5 bordered-right"><p>{{'To' | translate}}</p></div>
                            <div class="col-sm-7 paddingboth padding-5 bordered-right"><p>{{'By_First_Carrirer' | translate}}</p></div>
                            <div class="col-sm-1 paddingboth padding-5 bordered-right"><p>{{'To' | translate}}</p></div>
                            <div class="col-sm-1 paddingboth padding-5 bordered-right"><p>{{'BY' | translate}}</p></div>
                            <div class="col-sm-1 paddingboth padding-5 bordered-right"><p>{{'To' | translate}}</p></div>
                            <div class="col-sm-1 paddingboth padding-5"><p>{{'BY' | translate}}</p></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="text-center flex">
                            <div class="col-sm-1 paddingboth padding-5 bordered-right"><p class="uppercase">{{mAwbDetail.ShipmentDetail.DestinationAirport.AirportCode}}</p></div>
                            <div class="col-sm-7 paddingboth padding-5 bordered-right"><p class="uppercase"></p></div>
                            <div class="col-sm-1 paddingboth padding-5 bordered-right"><p class="uppercase"></p></div>
                            <div class="col-sm-1 paddingboth padding-5 bordered-right"><p class="uppercase"></p></div>
                            <div class="col-sm-1 paddingboth padding-5 bordered-right"><p class="uppercase"></p></div>
                            <div class="col-sm-1 paddingboth padding-5"><p class="uppercase"></p></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-sm-6 paddingboth">
                        <div>
                            <div class="col-sm-4 paddingboth bordered-right flex">
                                <div class="col-sm-5 paddingboth flex">
                                    <div class="col-sm-10 paddingboth text-center bordered-right">
                                        <div class="padding-5 fontsize12 bold">{{'Currency' | translate}}</div>
                                        <div class="padding-5 uppercase">{{mAwbDetail.ShipmentDetail.DeclaredCurrency.CurrencyCode}}</div>
                                    </div>
                                    <div class="col-sm-2 paddingboth bordered-right">
                                        <p></p>
                                        <p></p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-sm-7 paddingboth text-center flex">
                                    <div class="col-sm-6 paddingboth text-center bordered-right">
                                        <div class="uppercase padding-tb-5 border-bottom fontsize12 bold">{{'WT_VAL' | translate}}</div>
                                        <div class="col-sm-12 paddingboth flex">
                                            <div class="col-sm-6 padding-tb-5 paddingboth word-break bordered-right" style="min-height: 50px;">
                                                <div class="fontsize10">{{'PPO' | translate}}</div>
                                                <div></div>
                                            </div>
                                            <div class="col-sm-6 padding-tb-5 paddingboth word-break" style="min-height: 50px;">
                                                <div class="fontsize10">{{'COLL' | translate}}</div>
                                                <div></div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 paddingboth">
                                        <div class="padding-tb-5 border-bottom fontsize12 bold">{{'Other' | translate}}</div>
                                        <div class="col-sm-12 paddingboth flex">
                                            <div class="col-sm-6 padding-tb-5 paddingboth bordered-right word-break" style="min-height: 50px;">
                                                <div class="fontsize10">{{'PPO' | translate}}</div>
                                                <div></div>
                                            </div>
                                            <div class="col-sm-6 padding-tb-5 paddingboth word-break" style="min-height: 50px;">
                                                <div class="fontsize10">{{'COLL' | translate}}</div>
                                                <div></div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-sm-4 paddingboth bordered-right text-center" style="min-height:78px">
                                <div class="padding-5 fontsize12 bold">{{'Declared_Value_Carriage' | translate}}</div>
                                <div class="padding-5 uppercase">{{mAwbDetail.ShipmentDetail.DeclaredValue.toFixed(2)}}</div>
                            </div>
                            <div class="col-sm-4 paddingboth text-center">
                                <div class="fontsize12 bold padding-5">{{'Declared_Value_Customs' | translate}}</div>
                                <div ng-if="mAwbDetail.ShipmentDetail.DeclaredCustomValue" class="padding-5 uppercase">{{mAwbDetail.ShipmentDetail.DeclaredCustomValue.toFixed(2)}}</div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--end-->
                <!--airport destination, requested flight/date and amount insurance code here-->
                <div class="border-bottom flex">
                    <div class="col-sm-6 paddingboth bordered-right">
                        <div class="flex">
                            <div class="col-sm-6 paddingboth bordered-right" style="min-height: 125px;">
                                <div class="padding-5 fontsize12 bold">{{'Airport_Destination' | translate}}</div>
                                <div class="padding-5 uppercase">{{mAwbDetail.ShipmentDetail.DestinationAirport.AirportName}}</div>
                            </div>
                            <div class="col-sm-6 paddingboth">
                                <div class="col-sm-12 paddingboth fontsize12 bold">
                                    <div class="col-sm-4 paddingboth"></div>
                                    <div class="padding-5 text-center border-bottom col-sm-7 bordered-left bordered-right">{{'Requested_Flight_Date' | translate}}</div>
                                    <div class="col-sm-1 paddingboth"></div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-sm-12 padding-5">
                                    <div class="col-sm-6">
                                        <div class="uppercase"></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="uppercase"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-sm-6 paddingboth border-right-ddd flex">
                        <div class="col-sm-4 paddingboth bordered-right">
                            <div class="padding-5 fontsize12 bold">{{'Amount_Insurance' | translate}}</div>
                            <div ng-if="mAwbDetail.ShipmentDetail.InsuranceAmount" class="padding-5 uppercase">{{mAwbDetail.ShipmentDetail.InsuranceAmount.toFixed(2)}}</div>
                        </div>
                        <div class="padding-5 col-sm-8">
                            <div>
                                <span class="uppercase bold">{{'Insurance' | translate}}- </span>{{'Insurance_Message' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--end-->
                <!--T/S cargo fm china to lhr via khg by truck code here-->
                <div class="border-bottom">
                    <div class="col-sm-12 padding-5"><p>&nbsp;</p></div>
                    <div class="clearfix"></div>
                    <div class="col-sm-10 paddingboth border-right-ddd">
                        <div class="padding-5 uppercase">&nbsp;</div>
                    </div>
                    <div class="col-sm-2 paddingboth bordered-left border-top-ddd bold">
                        <div class="padding-5">&nbsp;</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--end-->
                <!--no. of pieces-->
                <div class="border-bottom flex">
                    <div class="col-sm-8 paddingboth border-right-ddd">
                        <!--header section code-->
                        <div>
                            <div class="col-sm-12 paddingboth word-break border-bottom bold fontsize12 flex">
                                <div class="width120 bordered-right padding-5">{{'No_of_Pieces' | translate}}</div>
                                <div class="width120 bordered-right padding-5">{{'Gross_Weight' | translate}}</div>
                                <div class="width4 fontsize10 bordered-right padding-5">{{'kGS' | translate}} {{'LB' | translate}}</div>
                                <div class="width4 bordered-right padding-5"></div>
                                <div class="width4 bordered-right padding-5"></div>
                                <div class="width120 bordered-right padding-5">{{'Commodity' | translate}}</div>
                                <div class="width4 bordered-right padding-5"></div>
                                <div class="width120 bordered-right padding-5">{{'Chargeable_Weight' | translate}}</div>
                                <div class="width4 bordered-right padding-5"></div>
                                <div class="width120 bordered-right padding-5">{{'Rate_Charge' | translate}}</div>
                                <div class="width4 bordered-right padding-5"></div>
                                <div class="width16 bordered-right padding-5">{{'Total' | translate}}</div>
                                <div class="width4 bordered-right padding-5"></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!--end-->
                        <!--body section code-->
                        <div>
                            <div class="col-sm-12 paddingboth word-break flex" style="min-height: 300px;">
                                <div class="width120 bordered-right padding-5 border-bottom">{{mAwbDetail.TotalCartons}}</div>
                                <div class="width120 bordered-right padding-5 border-bottom">{{mAwbDetail.TotalWeight.toFixed(2)}}</div>
                                <div class="width4 bordered-right padding-5">{{mAwbDetail.WeightUnit}}</div>
                                <div class="width4 bordered-right padding-5"></div>
                                <div class="width4 bordered-right padding-5"></div>
                                <div class="width120 bordered-right padding-5"></div>
                                <div class="width4 bordered-right padding-5"></div>
                                <div class="width120 bordered-right padding-5"></div>
                                <div class="width4 bordered-right padding-5"></div>
                                <div class="width120 bordered-right padding-5"></div>
                                <div class="width4 bordered-right padding-5"></div>
                                <div class="width16 bordered-right padding-5 border-bottom"></div>
                                <div class="width4 bordered-right padding-5"></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!--end-->
                        <!--footer section code-->
                        <div>
                            <div class="col-sm-12 paddingboth word-break border-bottom flex">
                                <div class="width120 bordered-right padding-5">{{mAwbDetail.TotalCartons}}</div>
                                <div class="width120 bordered-right padding-5">{{mAwbDetail.TotalWeight.toFixed(2)}}</div>
                                <div class="width4 fontsize10 bordered-right padding-5"></div>
                                <div class="width4 bordered-right padding-5"></div>
                                <div class="width4 bordered-right padding-5"></div>
                                <div class="width120 bordered-right padding-5"></div>
                                <div class="width4 bordered-right padding-5"></div>
                                <div class="width120 bordered-right padding-5"></div>
                                <div class="width4 bordered-right padding-5"></div>
                                <div class="width120 bordered-right padding-5"></div>
                                <div class="width4 bordered-right padding-5"></div>
                                <div class="width16 bordered-right padding-5"></div>
                                <div class="width4 bordered-right padding-5"></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!--end-->
                    </div>
                    <div class="col-sm-4 paddingboth">
                        <div class="padding-5 border-bottom fontsize12 bold" style="min-height:45px">{{'Nature_Quantity_of_Goods' | translate}}</div>
                        <div class="padding-5 uppercase">
                            <p>
                                {{mAwbDetail.ShipmentDetail.ShipmentDescription}}
                            </p>
                            <div ng-show="mAwbDetail.ShipmentDetail.BatteryDeclarationType !== 'None'">
                                <p>{{'Lithium_Ion_Battery' | translate}}</p>
                                <p>{{'In_Compliance_With' | translate}}</p>
                                <p>{{'Section_Battery_No' | translate}}</p>
                            </div>
                            <p></p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>


                <!--end-->
                <!--prepaid, weight charg, collect, valuation charge, tax and other charges code here-->
                <div class="border-bottom flex">
                    <div class="col-sm-4 paddingboth border-right-ddd">
                        <!--prepaid, weight charge and collect code here-->
                        <div>
                            <div class="flex fontsize12 bold">
                                <div class="col-sm-4 text-center padding-5 bordered-right border-bottom">{{'Prepaid' | translate}}</div>
                                <div class="col-sm-4 text-center padding-5 bordered-right border-bottom">{{'Weight_Charge' | translate}}</div>
                                <div class="col-sm-4 text-center padding-5 border-bottom">{{'Collect' | translate}}</div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="flex">
                                <div class="col-sm-6 text-center padding-5 bordered-right border-bottom">&nbsp;</div>
                                <div class="col-sm-6 text-center padding-5 border-bottom">&nbsp;</div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <!--end-->
                        <!--valuation charge code here-->
                        <div>
                            <div class="flex fontsize12 bold">
                                <div class="col-sm-3 text-center padding-5 bordered-right border-bottom"></div>
                                <div class="col-sm-6 text-center padding-5 bordered-right border-bottom">{{'Valuation_Charge' | translate}}</div>
                                <div class="col-sm-3 text-center padding-5 border-bottom"></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="flex">
                                <div class="col-sm-6 text-center padding-5 bordered-right border-bottom"><div>&nbsp;</div></div>
                                <div class="col-sm-6 text-center padding-5 border-bottom"><div>&nbsp;</div></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <!--end-->
                        <!--tax code here-->
                        <div>
                            <div class="flex fontsize12 bold">
                                <div class="col-sm-4 text-center padding-5 bordered-right border-bottom"></div>
                                <div class="col-sm-4 text-center padding-5 bordered-right border-bottom">Tax</div>
                                <div class="col-sm-4 text-center padding-5 border-bottom"></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="flex">
                                <div class="col-sm-6 text-center padding-5 bordered-right border-bottom"><div>&nbsp;</div></div>
                                <div class="col-sm-6 text-center padding-5 border-bottom"><div>&nbsp;</div></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <!--end-->
                    </div>
                    <div class="col-sm-8 paddingboth border-bottom">
                        <div class="padding-5 bold">{{'Other_Charges' | translate}}</div>
                        <div class="col-sm-12 paddingboth">
                            <!--fuel surcharge due carrier code here-->
                            <div class="flex">
                                <div class="col-sm-6 padding-5">
                                    <div>{{'Fuel_Surcharge_Due_Carrier' | translate}}</div>
                                </div>
                                <div class="col-sm-6 padding-5">
                                    <div></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <!--end-->
                            <!--airway bill fee code here-->
                            <div class="flex">
                                <div class="col-sm-6 padding-5">
                                    <div>{{'Airway_Bill_Fee' | translate}}</div>
                                </div>
                                <div class="col-sm-6 padding-5">
                                    <div></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <!--end-->
                            <!--terminal charges code here-->
                            <div class="flex">
                                <div class="col-sm-6 padding-5">
                                    <div>{{'Terminal_Charges' | translate}}</div>
                                </div>
                                <div class="col-sm-6 padding-5">
                                    <div></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <!--end-->
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--end-->
                <!--total other charges due agent, total other charges due carrier code here-->
                <div class="border-bottom flex">
                    <div class="col-sm-4 paddingboth border-right-ddd">
                        <!--total other charges due agent code here-->
                        <div>
                            <div class="flex fontsize12 bold">
                                <div class="col-sm-2 text-center padding-5 bordered-right border-bottom"></div>
                                <div class="col-sm-8 text-center padding-5 bordered-right border-bottom">{{'Total_Other_Charges_Due' | translate}} {{'Agent' | translate}}</div>
                                <div class="col-sm-2 text-center padding-5 border-bottom"></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="flex">
                                <div class="col-sm-6 text-center padding-5 bordered-right border-bottom"><div>&nbsp;</div></div>
                                <div class="col-sm-6 text-center padding-5 border-bottom"><div>&nbsp;</div></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <!--end-->
                        <!--total other charges due carrier code here-->
                        <div>
                            <div class="flex fontsize12 bold">
                                <div class="col-sm-2 text-center padding-5 bordered-right border-bottom"></div>
                                <div class="col-sm-8 text-center padding-5 bordered-right border-bottom">{{'Total_Other_Charges_Due' | translate}} {{'Carrier' | translate}}</div>
                                <div class="col-sm-2 text-center padding-5 border-bottom"></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="flex">
                                <div class="col-sm-6 text-center padding-5 bordered-right border-bottom"><div></div></div>
                                <div class="col-sm-6 text-center padding-5 border-bottom"><div>&nbsp;</div></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <!--end-->
                        <!--empty code here-->
                        <div>
                            <div class="flex fontsize12">
                                <div class="col-sm-6 text-center padding-5 bordered-right"></div>
                                <div class="col-sm-6 text-center padding-5"></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="flex">
                                <div class="col-sm-6 text-center padding-5 bordered-right border-bottom"><div>&nbsp;</div></div>
                                <div class="col-sm-6 text-center padding-5 border-bottom"><div>&nbsp;</div></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <!--end-->
                    </div>
                    <div class="col-sm-8 paddingboth border-bottom">
                        <div class="padding-5">
                            {{'Shipper_Certifies_Applicable_Dangerous_Goods_Regulations' | translate}}
                        </div>
                        <!--signature code here-->
                        <div>
                            <div class="col-sm-12" style="position:absolute;bottom:10px;">
                                <div class="col-sm-12 text-center padding-5" style="border-bottom:1px dashed"></div>
                                <div class="clearfix"></div>
                                <div class="col-sm-12 text-center">{{'Signature_Shipper_His_Agent' | translate}}</div>
                            </div>
                        </div>
                        <!--end-->
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--end-->
                <!--total prepaid, total collect, currency conversion, cc charges in dest. currency, for carrier use only at destination, charges at destination and total collect charges code here-->
                <div class="border-bottom flex">
                    <div class="col-sm-4 paddingboth border-right-ddd">
                        <!--total prepaid and total collect code here-->
                        <div>
                            <!--total prepaid, total collect header code here-->
                            <div class="flex">
                                <div class="col-sm-6 text-center bordered-right">
                                    <div class="flex fontsize12 bold">
                                        <div class="col-sm-2 padding-5 paddingboth bordered-right"></div>
                                        <div class="col-sm-8 padding-5 paddingboth border-bottom bordered-right">{{'Total' | translate}} {{'Prepaid' | translate}}</div>
                                        <div class="col-sm-2 padding-5 paddingboth"></div>
                                    </div>
                                </div>
                                <div class="col-sm-6 text-center">
                                    <div class="flex fontsize12 bold">
                                        <div class="col-sm-2 padding-5 paddingboth bordered-right"></div>
                                        <div class="col-sm-8 padding-5 paddingboth border-bottom bordered-right">{{'Total' | translate}} {{'Collect' | translate}}</div>
                                        <div class="col-sm-2 padding-5 paddingboth"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <!--end-->
                            <!--total prepaid, total collect data code here-->
                            <div class="flex">
                                <div class="col-sm-6 text-center padding-5 bordered-right border-bottom"><div></div></div>
                                <div class="col-sm-6 text-center padding-5 border-bottom"><div>&nbsp;</div></div>
                                <div class="clearfix"></div>
                            </div>
                            <!--end-->
                        </div>
                        <!--end-->
                        <!--currency conversion and cc charges in dest. currency code here-->
                        <div>
                            <div class="flex fontsize12 bold">
                                <div class="col-sm-6 text-center padding-5 bordered-right border-bottom">{{'Currency_Conversion' | translate}}</div>
                                <div class="col-sm-6 text-center padding-5 border-bottom">{{'CC_Charges_Dest_Currency' | translate}}</div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="flex">
                                <div class="col-sm-6 text-center padding-5 bordered-right border-bottom"><div>&nbsp;</div></div>
                                <div class="col-sm-6 text-center padding-5 border-bottom"><div>&nbsp;</div></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <!--end-->
                    </div>
                    <div class="col-sm-8 paddingboth border-bottom">
                        <div class="padding-5">&nbsp;</div>
                        <!--signature with data country name & code here-->
                        <div>
                            <div class="col-sm-12">
                                <div class="col-sm-12 text-center padding-5" style="border-bottom:1px dashed">
                                    <div class="flex uppercase">
                                        <div class="col-sm-3 paddingboth"></div>
                                        <div class="col-sm-3 paddingboth">{{mAwbDetail.ShipmentDetail.ShipFrom.Country.Name}}</div>
                                        <div class="col-sm-6 paddingboth">{{'Frayte_Logistics' | translate}} SPX</div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-12 padding-5 text-center">
                                    <div class="flex">
                                        <div class="col-sm-3 paddingboth">{{'Executed_On_Date' | translate}}</div>
                                        <div class="col-sm-3 paddingboth">{{'At_Place' | translate}}</div>
                                        <div class="col-sm-6 paddingboth text-right">{{'Signature_Issuing_Carrier_Its_Agent' | translate}}</div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end-->
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--end-->
                <!--for carriers use only at destination, charges at destination and total collect charges code here-->
                <div class="border-bottom flex">
                    <div class="col-sm-4 paddingboth flex border-right-ddd">
                        <!--total prepaid, total collect header code here-->
                        <div class="col-sm-6 padding-5 paddingboth bordered-right fontsize12 bold">
                            <div class="flex padding-5">{{'For_Carriers_Use_Only_Destination' | translate}}</div>
                        </div>
                        <!--end-->
                        <!--charges at destination code here-->
                        <div class="col-sm-6 paddingboth border-bottom">
                            <div class="flex fontsize12 bold">
                                <div class="col-sm-1 text-center padding-5 bordered-right"></div>
                                <div class="col-sm-10 text-center padding-5 bordered-right border-bottom">{{'Charges_At_Destination' | translate}}</div>
                                <div class="col-sm-1 text-center padding-5"></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="flex">
                                <div class="col-sm-1 text-center padding-5"><div>&nbsp;</div></div>
                                <div class="col-sm-10 text-center padding-5"><div>&nbsp;</div></div>
                                <div class="col-sm-1 text-center padding-5"><div>&nbsp;</div></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <!--end-->
                    </div>
                    <div class="col-sm-8 paddingboth ">
                        <!--total collect charges header code here-->
                        <div class="flex">
                            <div class="col-sm-12 paddingboth">
                                <div class="col-sm-4 padding-5 border-bottom bordered-right bold fontsize12">{{'Total_Collect_Charges' | translate}}</div>
                                <div class="col-sm-8 padding-5">{{mAwbDetail.ShipmentDetail.AirlinePreference.AilineCode}} {{mAwbDetail.MAWB}}</div>
                            </div>
                        </div>
                        <!--end-->
                        <!--total collect charges body code here-->
                        <div class="flex">
                            <div class="col-sm-12 paddingboth">
                                <div class="col-sm-4 padding-5 border-bottom bordered-right"><div>&nbsp;</div></div>
                                <div class="col-sm-8 padding-5"><div>&nbsp;</div></div>
                            </div>
                        </div>
                        <!--end-->
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--end-->
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <div class="modal-footer">
        <button type="button" ng-click="$dismiss()" class="btn-simple btn-cancel pull-left"><i class="fa fa-save"></i> {{'Cancel'| translate}}</button>
        <button type="button" class="btn-simple btn-save pull-right"><i class="fa fa-save"></i> {{'Print_Excel'| translate}}</button>
    </div>
</section>
