
<section>
    <section class="title-bar img-blog transparent-bg-secondary bottom8">
        <div class="transparent-bg-secondary-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <h1>{{'About_us' | translate}}</h1>
                    </div>
                </div>
            </div>
        </div><div class="transparent-bg-secondary-layer"></div>
    </section>
    <div class="clearfix"></div>
    <div>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-12 form-group">
                    <article>
                        <div>
                            <h3 class="frayte-blue word-spacing-3"><span ng-if="FrayteWebSite==='COM' || FrayteWebSite==='CO.TH'">{{'FRAYTE_GLOBAL_COM' | translate}}</span><span ng-if="FrayteWebSite==='CO.UK'">{{'FRAYTE_GLOBAL' | translate}}</span>. {{'About_US_Text' | translate}}</h3>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <br /><br />
    </div>
</section>
