
<div class="clearfix"></div>
<div class="container" id="top">
    <div ng-if="true" class="col-sm-12 flex change-color paddingboth" style="margin:30px 0px 30px;border:1px solid #ddd;">
        <div class="col-sm-4 col-xs-12 orange-color new-border-left">
            <center>
                <img ng-src="{{ImagePath + 'Booking_Consignment.png'}}" alt="FRAYTE Forwarding" class="img-responsive" />
            </center>
        </div>
        <div class="col-sm-8 col-xs-12 blue-color">
            <h3>{{'BookingConsignment' | translate}}</h3>
            <p>{{'Booking_In_A_Consignment' | translate}} <span ng-if="FrayteWebSite==='COM' || FrayteWebSite==='CO.TH'">{{'FRAYTE_GLOBAL_COM' | translate}}</span><span ng-if="FrayteWebSite==='CO.UK'">{{'FRAYTE_GLOBAL' | translate}}</span>. {{'Direct_Booking_Quick_Simple' | translate}}</p>
            <p>{{'We_Also_Have_Options_Of' | translate}}</p>
            <ul>
                <li>{{'White_Label_Sites' | translate}}</li>
                <li>{{'EDI' | translate}}</li>
                <li>{{'API_Links' | translate}}</li>
                <li>{{'Integration' | translate}}</li>
            </ul>
            <p>{{'If_You_Need_Further_Help' | translate}} <span ng-if="FrayteWebSite==='COM' || FrayteWebSite==='CO.TH'">{{'FRAYTE_GLOBAL_COM' | translate}}</span><span ng-if="FrayteWebSite==='CO.UK'">{{'FRAYTE_GLOBAL' | translate}}</span>.  {{'Feel_Free_Drop_Email' | translate}} <a href="">{{'Sales_frayte_Dot_Uk' | translate}}</a> {{'Our_Team_Will_Be_More_Than_Happy_To_Help_You' | translate}}</p>
            <ul>
                <li>{{'Account_Contact' | translate}}</li>
                <li>{{'Purchase_Order' | translate}}</li>
                <li>{{'Service_Required' | translate}}</li>
                <li>{{'Collection_Time' | translate}}</li>
                <li>{{'Commodity' | translate}}</li>
                <li>{{'shipment_PieceDetailsPieces' | translate}}</li>
                <li>{{'Weight' | translate}}</li>
                <li>{{'Dimensions' | translate}}</li>
                <li>{{'Delivery_Town_And_Country' | translate}}</li>
                <li>{{'Delivery_Deadline' | translate}}</li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
