
<div class="clearfix"></div>
<div class="container" id="top">
    <div>
        <br /><br />
        <div class="col-sm-12 paddingboth form-group text-center">
            <div class="col-sm-4 form-group paddingboth directbooking">
                <a href="" title="direct booking">
                    <img ng-src="{{ImagePath + 'direct_booking.png'}}" alt="Direct Booking" />
                </a>
                <span class="directbooking-hover">{{'Direct_Booking_Hover' | translate}}</span>
            </div>
            <div class="col-sm-4 form-group paddingboth directbooking">
                <a href="" title="direct booking">
                    <img ng-src="{{ImagePath + 'trade_lane.png'}}" alt="Tradelane" />
                </a>
                <span class="tradeLane-hover">{{'Direct_Booking_Tradelane' | translate}}</span>
            </div>
            <div class="col-sm-4 form-group paddingboth directbooking">
                <a href="" title="direct booking">
                    <img ng-src="{{ImagePath + 'break_bulk.png'}}" alt="Tradelane" />
                </a>
                <span class="breakBulk-hover">{{'Direct_Booking_Breakbulk' | translate}}</span>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-4 form-group paddingboth directbooking">
                <a href="" title="direct booking">
                    <img ng-src="{{ImagePath + 'e_commerce.png'}}" alt="eCommerce" />
                </a>
                <span class="eCommerce-hover">{{'Direct_Booking_Ecommerce' | translate}}</span>
            </div>
            <div class="col-sm-4 form-group paddingboth directbooking">
                <a href="" title="direct booking">
                    <img ng-src="{{ImagePath + 'ware_house.png'}}" alt="Warehousing" />
                </a>
                <span class="warehouse-hover">{{'Direct_Booking_Warehousing' | translate}}<br /></span>
            </div>
            <div class="col-sm-4 form-group paddingboth directbooking">
                <a href="" title="direct booking">
                    <img ng-src="{{ImagePath + 'express_solutions.png'}}" alt="Express Air" />
                </a>
                <span class="expres-hover">{{'Direct_Booking_Express_Air' | translate}}</span>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>



                          <!--<div id="service-below" class="col-sm-12">
                              <div class="container text-center">
                                  <ul class="list-unstyled service-dropdown header-service">
                                      <li><a ng-click="setScroll('top')" data-ui-sref="home.direct-booking-detail"><div class="text-center"><i class="fa-3x" aria-hidden="true"></i><img ng-src="{{ImagePath + 'directBooking60.png'}}" alt="directBooking" class="img-responsive padding-5 margin-auto" /></div><span>{{'Direct_Bookingg' | translate}}</span></a></li>
                                      <li><a ng-click="setScroll('top')" data-ui-sref="home.tradelane-detail"><div class="text-center"><i class="fa-3x" aria-hidden="true"></i><img ng-src="{{ImagePath + 'tradelane60.png'}}" alt="tradelane" class="img-responsive padding-5 margin-auto" /></div><span>{{'Tradelane' | translate}}</span></a></li>
                                      <li><a ng-click="setScroll('top')" data-ui-sref="home.break-bulk"><div class="text-center"><i class="fa-3x" aria-hidden="true"></i><img ng-src="{{ImagePath + 'breakBulk60.png'}}" alt="breakBulk" class="img-responsive padding-5 margin-auto" /></div><span>{{'Breakbulk' | translate}}</span></a></li>
                                      <li><a ng-click="setScroll('top')" data-ui-sref="home.ecommerce"><div class="text-center"><i class="fa-3x" aria-hidden="true"></i><img ng-src="{{ImagePath + 'ecommerce60.png'}}" alt="eCommerce" class="img-responsive padding-5 margin-auto" /></div><span>{{'Ecommerce' | translate}}</span></a></li>
                                      <li><a ng-click="setScroll('top')" data-ui-sref="home.warehouse-transport"><div class="text-center"><i class="fa-3x" aria-hidden="true"></i><img ng-src="{{ImagePath + 'warehousing60.png'}}" alt="warehousing" class="img-responsive padding-5 margin-auto" /></div><span>{{'Warehouse_Supprt' | translate}}</span></a></li>
                                      <li><a ng-click="setScroll('top')" data-ui-sref="home.express-solutions"><div class="text-center"><i class="fa-3x" aria-hidden="true"></i><img ng-src="{{ImagePath + 'expressair60.png'}}" alt="expressair" class="img-responsive padding-5 margin-auto" /> </div><span>{{'Express_Solutions' | translate}}</span></a></li>
                                  </ul>
                              </div>
                          </div>
<div class="clearfix"></div>
<h2>frayte forwarding page here</h2>
<div ui-view></div>-->
