<section class="ourCompany fullwidthNoBackground">
    <section class="container bottom6">
        <div id="mobile">
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12 paddingboth form-group mobile-show" id="left-side-scroll">
                <div>
                    <h3 class="home-scroll"><span class="BB-FC-2 ng-binding frayte-blue bold" style="margin-left: 7px;">{{'NEWS_UPDATES' | translate}}</span></h3>
                    <div class="fix-left-side-scroll">
                        <div class="form-group">
                            <img ng-src="{{ImagePath + 'serviceTradelane.png'}}" alt="logistics" style="min-width: 100%;" />
                        </div>
                        <div class="form-group">
                            <img ng-src="{{ImagePath + 'serviceEcommerce.png'}}" alt="logistics" style="min-width: 100%;" />
                        </div>
                        <div class="form-group">
                            <img ng-src="{{ImagePath + 'serviceBreakBulk.png'}}" alt="logistics"style="min-width: 100%;" />
                        </div>
                        <div class="form-group">
                            <img ng-src="{{ImagePath + 'serviceWarehouse.png'}}" alt="logistics" style="min-width: 100%;" />
                        </div>
                        <div class="form-group">
                            <img ng-src="{{ImagePath + 'serviceExpressSolutions.png'}}" alt="logistics" style="min-width: 100%;" />
                        </div>
                        <div class="form-group">
                            <img ng-src="{{ImagePath + 'serviceDirectBooking.png'}}" alt="logistics" style="min-width: 100%;" />
                        </div>
                        <div class="form-group">
                            <img ng-src="{{ImagePath + 'serviceEcommerce.png'}}" alt="logistics" style="min-width: 100%;" />
                        </div>
                        <div class="form-group">
                            <img ng-src="{{ImagePath + 'serviceDirectBooking.png'}}" alt="logistics" style="min-width: 100%;" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 col-md-9 col-lg-9 col-xs-12 paddingboth">
                <div>
                    <div class="pos-rel">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                                <li data-target="#myCarousel" data-slide-to="3"></li>
                                <li data-target="#myCarousel" data-slide-to="4"></li>
                                <li data-target="#myCarousel" data-slide-to="5"></li>
                            </ol>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img ng-src="{{ImagePath + 'slider1.jpg'}}" alt="logistics" class="img-responsive" />
                                </div>
                                <div class="item">
                                    <img ng-src="{{ImagePath + 'slider3.jpg'}}" alt="logistics" class="img-responsive" />
                                </div>
                                <div class="item">
                                    <img ng-src="{{ImagePath + 'slider4.jpg'}}" alt="logistics" class="img-responsive" />
                                </div>
                                <div class="item">
                                    <img ng-src="{{ImagePath + 'slider5.jpg'}}" alt="logistics" class="img-responsive" />
                                </div>
                                <div class="item">
                                    <img ng-src="{{ImagePath + 'slider6.jpg'}}" alt="logistics" class="img-responsive" />
                                </div>
                                <div class="item">
                                    <img ng-src="{{ImagePath + 'slider7.jpg'}}" alt="logistics" class="img-responsive" />
                                </div>
                            </div>
                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">{{'Previous' | translate}}</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">{{'Next' | translate}}</span>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="pos-rel">
                            <div class="carousel-header">
                                <h3><span ng-if="FrayteWebSite==='COM' || FrayteWebSite==='CO.TH'">{{'FRAYTE_GLOBAL_COM' | translate}}</span><span ng-if="FrayteWebSite==='CO.UK'">{{'FRAYTE_GLOBAL' | translate}}</span>.</h3>
                                <p>{{'HIgn_Quality_Unique_Logistics_Service' | translate}}</p>
                                <br />
                                <button type="button" class="btn-simple btn-save"><i class="fa fa-volume-control-phone" aria-hidden="true"></i> {{'Call' | translate}}<span ng-if="FrayteWebSite==='COM'"> (+852) 2148 4880</span><span ng-if="FrayteWebSite==='CO.UK'"> (+44) 01792 277295</span><span ng-if="FrayteWebSite==='CO.TH'"> (+66) 053 230366</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12 paddingboth form-group hide mobile-hide" id="left-side-scroll">
                <div class="mob-p15">
                    <h3 class="home-scroll"><span class="BB-FC-2 ng-binding frayte-blue bold" style="margin-left: 7px;">{{'NEWS_UPDATES' | translate}}</span></h3>
                    <div class="fix-left-side-scroll">
                        <div class="form-group">
                            <img ng-src="{{ImagePath + 'serviceTradelane.png'}}" alt="logistics" style="min-width: 100%;" />
                        </div>
                        <div class="form-group">
                            <img ng-src="{{ImagePath + 'serviceEcommerce.png'}}" alt="logistics" style="min-width: 100%;" />
                        </div>
                        <div class="form-group">
                            <img ng-src="{{ImagePath + 'serviceBreakBulk.png'}}" alt="logistics" style="min-width: 100%;" />
                        </div>
                        <div class="form-group">
                            <img ng-src="{{ImagePath + 'serviceWarehouse.png'}}" alt="logistics" style="min-width: 100%;" />
                        </div>
                        <div class="form-group">
                            <img ng-src="{{ImagePath + 'serviceExpressSolutions.png'}}" alt="logistics" style="min-width: 100%;" />
                        </div>
                        <div class="form-group">
                            <img ng-src="{{ImagePath + 'serviceDirectBooking.png'}}" alt="logistics" style="min-width: 100%;" />
                        </div>
                        <div class="form-group">
                            <img ng-src="{{ImagePath + 'serviceEcommerce.png'}}" alt="logistics" style="min-width: 100%;" />
                        </div>
                        <div class="form-group">
                            <img ng-src="{{ImagePath + 'serviceDirectBooking.png'}}" alt="logistics" style="min-width: 100%;" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="form-group"></div>
        <!--all booking image available-->
        <div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 paddingboth form-group text-center flex">
                <div class="frayte-blue-background" id="image-frayte-blue-border">
                    <a href="" class="col-sm-2 col-md-2 col-lg-2 col-xs-12 paddingboth mobile-mb-15" title="Direct Booking">
                        <img ng-src="{{ImagePath + 'serviceDirectBooking.png'}}" alt="logistics" class="img-responsive" />
                        <h3 class="frayte-blue-background form-group">{{'Direct_Bookingg' | translate}}</h3>
                    </a>
                    <a href="" class="col-sm-2 col-md-2 col-lg-2 col-xs-12 paddingboth mobile-mb-15" title="Tradelane">
                        <img ng-src="{{ImagePath + 'serviceTradelane.png'}}" alt="logistics" class="img-responsive" />
                        <h3 class="frayte-blue-background form-group">{{'Tradelane' | translate}}</h3>
                    </a>
                    <a href="" class="col-sm-2 col-md-2 col-lg-2 col-xs-12 paddingboth mobile-mb-15" title="BreakBulk">
                        <img ng-src="{{ImagePath + 'serviceBreakBulk.png'}}" alt="logistics" class="img-responsive" />
                        <h3 class="frayte-blue-background form-group">{{'Breakbulk' | translate}}</h3>
                    </a>
                    <a href="" class="col-sm-2 col-md-2 col-lg-2 col-xs-12 paddingboth mobile-mb-15" title="Ecommerce">
                        <img ng-src="{{ImagePath + 'serviceEcommerce.png'}}" alt="logistics" class="img-responsive" />
                        <h3 class="frayte-blue-background form-group">{{'Ecommerce' | translate}}</h3>
                    </a>
                    <a href="" class="col-sm-2 col-md-2 col-lg-2 col-xs-12 paddingboth mobile-mb-15" title="Warehouse & Transport">
                        <img ng-src="{{ImagePath + 'serviceWarehouse.png'}}" alt="logistics" class="img-responsive" />
                        <h3 class="frayte-blue-background form-group">
                        <span>{{'Warehouse' | translate}}<br/></span>
                        <span>{{'And' | translate}}<br /></span>
                        <span>{{'Transport' | translate}}</span>
                        </h3>
                    </a>
                    <a href="" class="col-sm-2 col-md-2 col-lg-2 col-xs-12 paddingboth" title="Express Solutions">
                        <img ng-src="{{ImagePath + 'serviceExpressSolutions.png'}}" alt="logistics" class="img-responsive" />
                        <h3 class="frayte-blue-background form-group">{{'Express_Solutions' | translate}}</h3>
                    </a>
                </div>
            </div>
        </div>
        <!--end-->
    </section>
    <div class="clearfix"></div>
    <br />
    <div id="mobile">    
    <div class="fullwidthNoBackground mobile-show">
        <br /><br /><br />
        <div class="container">
            <div class="row flex">
                <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12 form-group flex">
                    <article class="services-1">
                        <span class="icon" style="color:#0B3D5A;"><span class="glyphicon glyphicon-home"></span></span>
                        <div class="inner">
                            <p class="h"><span ng-if="FrayteWebSite==='COM' || FrayteWebSite==='CO.TH'">{{'FRAYTE_GLOBAL_COM' | translate}}</span><span ng-if="FrayteWebSite==='CO.UK'">{{'FRAYTE_GLOBAL' | translate}}</span>. {{'HeadquarterHongKong' | translate}}</p>
                        </div>
                        <div class="color-bg" style="height: 1.4%; overflow: hidden;"></div>
                    </article>
                </div>
                <div class="col-md-7 col-sm-7 col-lg-7 col-xs-12 form-group flex">
                    <article class="services-1">
                        <span class="icon" style="color:#0B3D5A;"><span class="glyphicon glyphicon-th-list"></span></span>
                        <div class="inner">
                            <p class="h">{{'OurAim' | translate}}</p>
                        </div>
                        <div class="color-bg" style="height: 1.4%; overflow: hidden;"></div>
                    </article>
                </div>
            </div>
        </div>
        <br /><br />
        </div>
    </div>
</section>
